
@{
    Layout = null;
}


<div style="margin-top:25px;">
    <div class="single-accordion">
        <a style="" class="accordion-head" data-toggle="collapse" data-parent="#checkout-accordion" href="#" aria-expanded="true">
            <div class="bradcaump__innerr text-center">
                <h2 style="color:white !important;font-family:'sans-serif' !important; text-transform: capitalize;" class="bradcaump-title">
                    Daha fazla bilgi için formu doldurun
                </h2>
            </div>

        </a>
        <div id="subelerimiz_div" class="collapse show" style="">

            <div class="accordion-body billing-method fix">

                <div class="billing-form checkout-form">
                    <div class="row">
                        <div class="col-12 mb--20">

                            <form id="frmFormlar_franch" name="frmFormlar_franch">
                                <div class="single-input">
                                    <input style="margin-top:15px;" required type="text" placeholder="Ad" name="Ad" id="Soyad">
                                </div>
                                <div class="single-input">
                                    <input style="margin-top:15px;" required type="text" placeholder="Soyad" name="Soyad" id="Soyad">
                                </div>
                                <div class="single-input">
                                    <input style="margin-top:15px;" required type="text" placeholder="Telefon" name="Telefon" id="Telefon">
                                </div>
                                <div class="single-input">
                                    <input style="margin-top:15px;" type="email" placeholder="Mail" name="Mail" id="Mail">
                                </div>

                                <div style="margin-top:15px;" class="single-input checkout-form">
                                    <select id="dp_Sehir_ok">
                                    </select>
                                </div>
                                <div style="margin-top:15px;" class="single-input checkout-form">
                                    <select id="dp_Ilce_ok">
                                    </select>
                                </div>
                                <div style="margin-top:15px;" class="single-input checkout-form">
                                    <textarea placeholder="Not" cols="100%" rows="5" name="Icerik" id="Icerik"></textarea>
                                </div>
                                <div class="single-input text-center">

                                    <input style="margin-top:15px;" id="btnOK" type="submit" value="Gönder" class="ovalButton" />
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>




<script type="text/javascript">
    var Formlar_ListFunc;
    $(function () {
        Formlar_ListFunc = {
            load: function () {

                Formlar_ListFunc.getSehir();

                $('#' + 'frmFormlar_franch').submit(function (e) {
                    $.LoadingOverlay("show");
                    e.preventDefault();
                    var postModel = $.fn.toForm("#" + 'frmFormlar_franch');
                    postModel.FormType = 3;

                    $.ajx('Base/' + "/FormlarSave", { postModel: postModel }, function (resultMenus) {
                        if (resultMenus.ResultType != 3) {
                            $(".zmdi.zmdi-close").click();
                            alert("Önkayıt işleminiz Alınmıştır.");
                        }
                        else {

                            alert(resultMenus.MessageList[0]);
                        }
                        $.LoadingOverlay("hide");
                    }, function () { location.reload(); });

                });

            },

            getSehir: function () {
                var div_id = "#dp_Sehir_ok";
                $(div_id).addOptionAjax("/Base/getSehir", { id: 1 }, "value", "text", function () { Formlar_ListFunc.getIlce(); }, function () { Formlar_ListFunc.getIlce(); }, '', '', 'Şehir Seçiniz');
            },
            getIlce: function () {
                var div_id = "#dp_Ilce_ok";
                $(div_id).addOptionAjax("/Base/getIlce", { id: $("#dp_Sehir_ok").val() }, "value", "text", function () { }, function () { }, '', '', 'İlçe Seçiniz');
            },


        }
        Formlar_ListFunc.load();

    });


</script>

