@{
    var kurum = HttpContextAccessor.HttpContext.Session.Get<Kurum>("kurum");
    var sube = HttpContextAccessor.HttpContext.Session.Get<Sube>("sube");


    var baslik = sube == null ? kurum.Ad : sube.Ad;
    var adres = sube == null ? kurum.Adres : sube.Adres;
    var telefon = sube == null ? kurum.Telefon : sube.Telefon;

    var telefon_link = "tel://" + telefon;

    var maps = sube == null ? kurum.Maps : sube.Maps;

    var Facebook = sube == null ? kurum.Facebook : sube.Facebook;
    var Twitter = sube == null ? kurum.Twitter : sube.Twitter;
    var Instagram = sube == null ? kurum.Instagram : sube.Instagram;
    var Youtube = sube == null ? kurum.Youtube : sube.Youtube;
    var Pinterest = sube == null ? kurum.Pinterest : sube.Pinterest;

}


<div class="container">
    <div class="row">
        <!-- Start Sidebar -->
        <div class="col-lg-3 order-2 order-lg-1">
            <div style="position: fixed;width: 19%;" class="sidebar__widgets sidebar--left">

                @Html.Partial("~/Views/Base/OnKayitSube.cshtml")


            </div>
        </div>
        <!-- End Sidebar -->

        <div class="col-lg-9 order-1 order-lg-2">
            <br />

            @await Component.InvokeAsync("ContentView", new { ContentPageType = ContentPageType.sliderUst })



            <div class="class__quality__desc with--leftsidebar">

            </div>
            <div class="class-details-inner">
                <div class="courses__inner">
                    <div class="row">
                        <div class="col-lg-7">
                            <h3>

                            @baslik
                            </h3>
                        </div>
                        <div class="pull-right">
                            <a href="@telefon_link">
                                <span style="font-size:30px;color: #32a52c;text-align:center;">
                                    <i aria-hidden="true" class="fa fa-phone fa-4"></i>
                                    Şubeyi Ücretsiz Ara
                                </span>
                            </a>
                        </div>
                    </div>

                </div>


                <hr />

                <div class="col-lg-12 order-2 order-lg-1">
                    <div class="sidebar__widgets sidebar--left">
                        <br />

                        <div class="ftr__address">
                            <div class="ftr_icon">
                                <i class="fa fa-home"></i>
                            </div>
                            <div class="ftr__contact">
                                <p>
                                    ADRES :@Html.Raw(adres)

                                </p>
                            </div>
                        </div>
                        <div class="ftr__address">
                            <div class="ftr_icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="ftr__contact">
                                <p><a href="#">TELEFON </a></p>
                                <p><a href="#">@Html.Raw(telefon)</a></p>
                            </div>
                            <br />
                        </div>
                        <br />

                        @if (!string.IsNullOrEmpty(maps))
                        {
                            @Html.Raw(maps)
                            <style>
                                iframe {
                                    height: 400px !important;
                                    width: 100% !important;
                                }
                            </style>
                        }

                    </div>

                    @await Component.InvokeAsync("ContentView", new { ContentPageType = ContentPageType.etkinlikler })

                    @await Component.InvokeAsync("ContentView", new { ContentPageType = ContentPageType.haberler })


                </div>

            </div>
        </div>

    </div>
</div>

<style>
    .slider--four.slider__fixed--height {
        height: 304px !important;
    }
</style>



