@{
    string control_Name_Kasa = "Kasa";

}

<script type="text/javascript">
    var control_Name_Kasa = "@control_Name_Kasa";
    var dt_Kasa = "#dt_" + control_Name_Kasa;
</script>



<!-- begin:: Content -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">

    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    @Html.Raw(ViewBag.pageTitle)
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions">


                        <a href="/@control_Name_Kasa/InsertOrUpdatePage" class="btn btn-brand btn-elevate btn-icon-sm mymodal">
                            <i class="la la-plus"></i>
                            @Html.Raw(ViewBag.pageTitle + " Ekle")
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__body">
            <!--begin: Datatable -->
            <table id="dt_@control_Name_Kasa" class="table table-striped- table-bordered table-hover table-checkable">
                <thead>
                    <tr>
                    </tr>
                </thead>


            </table>
            <!--end: Datatable -->
        </div>
    </div>
</div>
<!-- end:: Content -->



<script type="text/javascript">
    var Kasa_ListFunc;
    $(function () {
        Kasa_ListFunc = {
            load: function () {
                Kasa_ListFunc.GetPaging();

            },

            GetPaging: function () {

                var columns = [];
                columns.push({ "data": "Ad", text: "Kasa Adı" });
                columns.push({ "data": "UstKasaAd", text: "Bağlı Olduğu Kasa" });
                columns.push({ "data": "BankaAd", text: "BankaAd" });
                columns.push({ "data": "ParaBirimAd", text: "Para Birimi" });
                columns.push({ "data": "GelenTotal", text: "Gelen Toplam" });
                columns.push({ "data": "CekilenTotal", text: "Çekilen Toplam" });
                columns.push({ "data": "Total", text: "Genel Toplam" });

                columns.push({ "data": "Detail", text: "İşlemler" });

                $.each(columns, function (i, item) {
                    $(dt_Kasa + ' thead tr').append('<td>' + item.text + '</td>');
                });


                var table = $(dt_Kasa).DataTable({
                    "ajax": {
                        "url": '/' + control_Name_Kasa + '/GetPaging',
                        "type": "POST",
                        "datatype": "json",
                        "data": function (searchModel) {
                            $(dt_Kasa).LoadingOverlay("show");
                            searchModel.pagingSearchParam = 'Name,Link';
                        },
                        "dataSrc": function (json) {
                            return_data = new Array();
                            var data = json.data;

                            $.each(data, function (i, row) {

                                var Detail = "";
                                Detail += '<a class="btn btn-sm btn-clean btn-icon btn-icon-md mymodal" href ="/' + control_Name_Kasa + '/InsertOrUpdatePage?id=' + data[i].Id + '"  title="Düzenle" > ' + '<i class="la la-edit"></i>' + ' </a > ';
                                Detail += '<a class="btn btn-sm btn-clean btn-icon btn-icon-md btnDelete" dataid="' + row.Id + '" title="Sil" > ' + '<i class="la la-remove"></i>' + '  </a>';

                                Detail += '<a style="margin-left: 15px;" class="btn btn-sm btn-clean btn-icon btn-icon-md mymodal" href ="/' + control_Name_Kasa + '/InsertOrUpdatePage?selectid=' + data[i].Id + '" > ' + 'Alt Kasa Ekle' + ' </a > ';

                                return_data.push({
                                    'Ad': row.Ad,
                                    'UstKasaAd': row.UstKasa == null ? "" : row.UstKasa.Ad,
                                    'BankaAd': row.Banka == null ? "" : row.Banka.Ad,
                                    'ParaBirimAd': row.ParaBirim.Ad,
                                    'GelenTotal': row.GelenTotal,
                                    'CekilenTotal': row.CekilenTotal,
                                    'Total': row.Total,

                                    'Detail': Detail,
                                });

                            });
                            return return_data;
                        }
                    },
                    "fnDrawCallback": function (settings, json) {
                        $(dt_Kasa + ' .btnDelete').click(function () {
                            var dataid = $(this).attr("dataid");
                            alerts("Silinsin mi ?", "yesno", function (result) {
                                if (result == true) {
                                    $(dt_Kasa).LoadingOverlay("show");
                                    $.ajx('/' + control_Name_Kasa + "/Delete", { id: dataid }, function (resultData) {
                                        if (resultData && resultData.IsDeleted) {
                                            table.ajax.reload();
                                        }
                                        else {
                                            alerts(resultData.ResultType.MessageList[0]);
                                        }
                                        $(dt_Kasa).LoadingOverlay("hide");
                                    });
                                }
                            });
                        });

                        $('.dt-buttons.btn-group.flex-wrap').css('float', 'right');
                        $('.dt-buttons.btn-group.flex-wrap').css('margin-left', '20px');
                        $('.dt-buttons.btn-group.flex-wrap').css('margin-top', '16px');

                        $(dt_Kasa).LoadingOverlay("hide");
                        ayarlar();
                    },
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json",
                    },
                    "dom": 'lBfrtip',
                    "buttons": ['copy', 'csv', 'excel', 'pdf'],
                    "destroy": true,
                    "caseInsensitive": true,
                    "serverSide": true,
                    "responsive": true,
                    "pageLength": 100,
                    "DisplayLength": 100,
                    "lengthMenu": [[100, 250, 500, 1000, 2500, 5000], [100, 250, 500, 1000, 2500, 5000]],
                    "lengthChange": true,
                    "processing": true,
                    "columnDefs": [
                        //{ "orderable": false, "targets": [0, 1] },
                    ],
                    "columns": columns,

                });

            },


        }
        Kasa_ListFunc.load();

    });


</script>
