@{
    Layout = null;
    var contents = (List<ContentPage>)ViewBag.contents;
    var i = 0;
}

@if (contents.Count > 0)
{
    <div class="single__widget recent__post">
        <h4>Etkinlikler</h4>
        <ul>
            @foreach (var item in contents)
            {
               var image = SessionRequest.ImageUrl + item.DefaultImage;
                <li>
                    <a href="#"><img src="@image" alt=""></a>
                    <div class="post__content">
                        <h6><a href="blog-details.html">@item.Name</a></h6>
                        <span class="date"><i class="fa fa-calendar"></i>@item.CreaDate.ToShortDateString()</span>
                    </div>
                </li>
            }


        </ul>
    </div>

}