@{
    Layout = null;
    var contents = (List<ContentPage>)ViewBag.contents;
    var i = 1;
}


<section style="background-image: url(images/bg/34.jpg);background-repeat: no-repeat;background-size: cover;background-position: center center;" class="dcare__team__area section-padding--lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section__title--2 line--white">
                    <h2 class="title__line white--title" data-shadow="Eğitim Kadromuz"><span class="theme-color-2">E</span><span class="theme-color">ğ</span>itim<span class="theme-color"> K</span><span class="theme-color-2">a</span>dromuz</h2>
                </div>
            </div>
        </div>
        <div class="row mt--40">
            <!-- Start Single Team -->
            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInLeft">
                <div class="team__style--3 hover-color-2">
                    <div class="team__thumb">
                        <img src="images/team-3/1.jpg" alt="team image">
                    </div>
                    <div class="team__hover__action">
                        <div class="team__details">
                            <div class="team__info">
                                <h6><a href="#">Hanchica Merica</a></h6>
                                <span>Drawing Instructor</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consecteturadmodi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                            <ul class="dacre__social__link--2 d-flex justify-content-center">
                                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="vimeo"><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                <li class="pinterest"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team -->
            <!-- Start Single Team -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team__style--3 hover-color-2">
                    <div class="team__thumb">
                        <img src="images/team-3/2.jpg" alt="team image">
                    </div>
                    <div class="team__hover__action">
                        <div class="team__details">
                            <div class="team__info">
                                <h6><a href="#">Irin Pervin</a></h6>
                                <span>Drawing Instructor</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consecteturadmodi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                            <ul class="dacre__social__link--2 d-flex justify-content-center">
                                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="vimeo"><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                <li class="pinterest"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team -->
            <!-- Start Single Team -->
            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInRight">
                <div class="team__style--3 hover-color-2">
                    <div class="team__thumb">
                        <img src="images/team-3/3.jpg" alt="team image">
                    </div>
                    <div class="team__hover__action">
                        <div class="team__details">
                            <div class="team__info">
                                <h6><a href="#">Najnin Supa</a></h6>
                                <span>Drawing Instructor</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consecteturadmodi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                            <ul class="dacre__social__link--2 d-flex justify-content-center">
                                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="vimeo"><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                <li class="pinterest"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team -->
        </div>
    </div>
</section>
<!-- End Team Area -->
