<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name='viewport'
          content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
    <title>İlk Teknem</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="tr" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="time-to-create" content="" />
    <meta name="robots" content="index,follow">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/uikit.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link href="" rel="shortcut icon" type="image/x-icon">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>
    <script src="~/js/general.js"></script>
    <base href="" />

    <script>
        var baseUrl = "";
    </script>
</head>
<body class="main page-home">

    <!-- header start -->

    <div class="tm-header-mobile uk-hidden@m hidepdf">
        <div class="uk-navbar-container">
            <nav uk-navbar="" class="uk-navbar">
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo" href="/">
                        <img alt="" src="~/img/logo.png" width="150">
                    </a>
                </div>

                <div class="uk-navbar-right">
                    <a class="uk-navbar-toggle" href="#tm-mobile" uk-toggle="">
                        <div uk-navbar-toggle-icon="" class="uk-icon uk-navbar-toggle-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="navbar-toggle-icon"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg></div>
                    </a>
                </div>
            </nav>
        </div>

        <div id="tm-mobile" uk-offcanvas="" mode="reveal" overlay="" flip="" class="uk-offcanvas">
            <div class="uk-offcanvas-bar">
                <button class="uk-offcanvas-close uk-icon uk-close" type="button" uk-close=""><svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" data-svg="close-icon"><line fill="none" stroke="#000" stroke-width="1.1" x1="1" y1="1" x2="13" y2="13"></line><line fill="none" stroke="#000" stroke-width="1.1" x1="13" y1="1" x2="1" y2="13"></line></svg></button>
                <div class="uk-child-width-1-1 uk-grid" uk-grid="">
                    <div>
                        <div class="uk-panel">

                            <ul class='cmenu uk-nav uk-nav-default'>
                                <li class='link li1   lict1  first '><a href='/Home/hakkimizda' data-hover>Hakkımızda</a></li>
                                <li class='link li1   lict1  first '><a href='/Home/ilkteknem' data-hover>İlk Teknem</a></li>
                                <li class='link li1   lict1  first '><a href='/Home/denizletanisma' data-hover>Denizle Tanışma Programı</a></li>
                                <li class='link li1   lict1  first '><a href='/Home/yararliyazilar' data-hover>Yararlı Yazılar</a></li>
                                <li class='link li1   lict1  first '><a href='/Home/referanslar' data-hover>Referanslar</a></li>
                                <li class='link li8   lict8  last '><a href='/Home/iletisim' data-hover>İletişim</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tm-header uk-visible@m tm-header-transparent tm-header-overlay hidepdf" uk-header="">
        <div media="@@m" show-on-up="" animation="uk-animation-slide-top" sel-target=".uk-navbar-container" style="">
            <div class="uk-navbar-container uk-navbar-transparent uk-light">
                <div class="uk-container">
                    <nav class="uk-navbar" uk-navbar="{&quot;align&quot;:&quot;center&quot;,&quot;boundary&quot;:&quot;!.uk-navbar-container&quot;,&quot;dropbar&quot;:true,&quot;dropbar-anchor&quot;:&quot;!.uk-navbar-container&quot;,&quot;dropbar-mode&quot;:&quot;slide&quot;}">
                        <div class="uk-navbar-left">
                            <a href="/" class="uk-navbar-item uk-logo">
                                <img alt="" src="~/img/logo.png"><img  style="width:225px;" class="uk-logo-inverse" alt="" src="~/img/logo.png">
                            </a>
                        </div>
                        <div class="uk-navbar-center">

                            <ul class='cmenu uk-navbar-nav'>
                                <li class='link li1   lict1  first '><a href='/Home/hakkimizda' data-hover>Hakkımızda</a></li>
                                <li class='link li1   lict1  first '><a href='/Home/ilkteknem' data-hover>İlk Teknem</a></li>
                                <li class='link li1   lict1  first '><a href='/Home/denizletanisma' data-hover>Denizle Tanışma Programı</a></li>
                                <li class='link li1   lict1  first '><a href='/Home/yararliyazilar' data-hover>Yararlı Yazılar</a></li>
                                <li class='link li1   lict1  first '><a href='/Home/referanslar' data-hover>Referanslar</a></li>
                                <li class='link li8   lict8  last '><a href='/Home/iletisim' data-hover>İletişim</a></li>
                            </ul>

                        </div>
                        <div class="uk-navbar-right">

                            <a href="https://www.instagram.com/ilkteknem" target="_blank" class="uk-icon-button" uk-icon="instagram"></a>

                            <a href="https://www.youtube.com/" target="_blank" class="uk-icon-button" uk-icon="youtube"></a>

                            <a href="https://www.facebook.com/%C4%B0lk-Teknem-102561541237989/" target="_blank" class="uk-icon-button" uk-icon="facebook"></a>

                            <a href="https://www.linkedin.com/" target="_blank" class="uk-icon-button" uk-icon="linkedin"></a>

                        </div>
                    </nav>
                </div>
            </div>
            <div class="uk-navbar-dropbar uk-navbar-dropbar-slide" style="height: 0px;"></div>
        </div>
        <div class="uk-sticky-placeholder" style="height: 80px; margin: 0px;" hidden=""></div>
    </div>

    <!-- header start -->

    @RenderBody();

    <!-- footer start -->

    <div class="uk-margin-top footer-bg" style="background:url('/img/bottom-bgbg.png') center center no-repeat;height:136px;position:relative">
        <div style="width:100%;background:#d5ac5ce6;position:absolute;top:0;bottom:0"></div>
        <div uk-grid="" class="uk-child-width-1-3@m uk-grid-large uk-grid" style="position:relative;z-index:9999">
            <div style="text-align:right"><a href="#" target="_blank"></a></div><div class="customer">The Clubs</div>

        </div>

    </div>
    <style>

        @@media screen and (max-width: 500px) {
            .mobile-re {
                -webkit-box-orient: horizontal;
                flex-direction: column-reverse;
            }
        }
    </style>
    <div class="uk-section-default uk-section turmarin-footer hidepdf" style="background:#dcdcdc" uk-scrollspy="target: [uk-scrollspy-class]; cls: uk-animation-fade; delay: false;">
        <div class="uk-container">
            <div class="uk-grid-large uk-grid-margin-large uk-grid" uk-grid="">
                <div class="uk-width-expand@m uk-width-1-2@s uk-first-column">
                    <div class="uk-margin uk-scrollspy-inview" uk-scrollspy-class="" style="">
                        <div class="footer-text">
                            İLK TEKNEM, DENİZLE VE TEKNEYLE TANIŞMA PLATFORMUDUR

                        </div>
                    </div>
                    <div style="text-align:center">

                        <a href="https://www.instagram.com/ilkteknem" target="_blank" class="uk-icon-button footer-social" uk-icon="instagram" style="background:none !important;color:#333 !important"></a>

                        <a href="https://www.youtube.com/" target="_blank" class="uk-icon-button footer-social" uk-icon="youtube" style="background:none !important;color:#333 !important"></a>

                        <a href="https://www.facebook.com/%C4%B0lk-Teknem-102561541237989/" target="_blank" class="uk-icon-button footer-social" uk-icon="facebook" style="background:none !important;color:#333 !important"></a>

                        <a href="https://www.linkedin.com/" target="_blank" class="uk-icon-button footer-social" uk-icon="linkedin" style="background:none !important;color:#333 !important"></a>
                    </div>
                </div>

                <div class="uk-width-expand@m uk-width-1-2@s footer-link">
                    <h3 class="uk-h5 uk-scrollspy-inview medical-h5" uk-scrollspy-class="" style="color:#6b6b6b">        KURUMSAL    </h3>


                    <ul class='cmenu uk-list uk-scrollspy-inview uk-animation-fade li-footer'>

                        <li class='link li1   lict1  first '><a href='/Home/hakkimizda' data-hover>Hakkımızda</a></li>
                        <li class='link li1   lict1  first '><a href='/Home/ilkteknem' data-hover>İlk Teknem</a></li>
                        <li class='link li1   lict1  first '><a href='/Home/denizletanisma' data-hover>Denizle Tanışma Programı</a></li>
                        <li class='link li1   lict1  first '><a href='/Home/yararliyazilar' data-hover>Yararlı Yazılar</a></li>
                        <li class='link li1   lict1  first '><a href='/Home/referanslar' data-hover>Referanslar</a></li>
                        <li class='link li8   lict8  last '><a href='/Home/iletisim' data-hover>İletişim</a></li>


                    </ul>



                </div>


                <div class="uk-width-expand@m uk-width-1-2@s footer-link">
                    <h3 class="uk-h5 uk-scrollspy-inview medical-h5" uk-scrollspy-class="" style="color:#6b6b6b">      İLETİŞİM    </h3>

                    <div style="font-size:12px">
                        19 Mayıs mah. Şemsettin Günaltay Caddesi No:135 kat: 3 Kadıköy İstanbul
                        <br /><br />

                        <a href="tel:+902122570203" style="color:#666">+90 506 771 48 04 </a>
                        / <a href="tel:+02165450527" style="color:#666">0 216 545 05 27 </a>
                        <br /><br />
                        <a href="mailto:info@ilkteknem.com" style="color:#666">info@ilkteknem.com</a> <br /><br />


                    </div>

                </div>

            </div>
        </div>
    </div>
    <script src="~/assets/js/uikit.min.js"></script>
    <script src="~/assets/js/uikit-icons.min.js"></script>

    <!-- footer end -->

    @RenderSection("Scripts", required: false)
</body>
</html>