@{
    var edit = ViewBag.edit as NeredenDuydunuz;
    if (edit == null)
        edit = new NeredenDuydunuz();
}
@Html.Raw(edit.DynamicInputHelper2(
                        "", "", "Nereden Duydunuz", "page", "col-md-4", "col-md-8", "col-md-6",
                       "<div class='form-group row float-md-right'><div class='col-md-offset-9 col-md-9'>" +
                       "<input type='submit' value='" + "Gönder" + "' " +
                       "class='btn btn-brand btn-elevate btn-icon-sm' /></div></div>"
                       ))

