th.dt-c, td.dt-c {
    text-align: center;
}

th.dt-l, td.dt-l {
    text-align: left;
}

th.dt-r, td.dt-r {
    text-align: right;
}





.gm-style .gm-style-cc span, .gm-style .gm-style-cc a, .gm-style .gm-style-mtc div {
    font-size: 10px;
}

.gm-style-pbc {
    transition: opacity ease-in-out;
    background-color: rgba(0,0,0,0.45);
    text-align: center;
}

.gm-style-pbt {
    font-size: 22px;
    color: white;
    font-family: Roboto,Arial,sans-serif;
    position: relative;
    margin: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.md-checkbox {
    /*top: 5px !important;*/
}

    .md-checkbox label > .check, .md-checkbox label > .box {
        top: auto !important;
    }




.textcenter {
    text-align: center !important;
}


.logo-default {
    margin: 0 !important;
}


.form-horizontal {
    padding: 10px !important;
}


.loginCustom {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    min-height: 95vh !important;
}







.btn-success {
    background-color: #e1e5ec !important;
    color: #000000 !important;
    border-radius: 3px !important;
    border: solid 1px #c6c6c6 !important;
}


.dashboard-stat.dashboard-stat-v2 .visual {
    margin-bottom: -30px !important;
    padding-top: 0px !important;
    font-size: 12px !important;
}

.dashboard-stat .visual {
    height: auto !important;
    height: auto !important;
}

.dashboard-stat .details .number {
    padding-top: 0px !important;
}



.tLeft {
    text-align: left !important;
}

.tRight {
    text-align: right !important;
}

.tCenter {
    text-align: center !important;
}


.tdRight {
    text-align: right !important;
}

.full {
    width: 100% !important;
}


.hidden {
    display: none;
}



.textcenter {
    text-align: center !important;
}


.logo-default {
    margin: 0 !important;
}


/*.form-horizontal {
    padding: 10px !important;
}*/


.loginCustom {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    min-height: 95vh !important;
}


#dt table tr {
    width: 100% !important;
}

.modal50 > .modal-dialog {
    width: 50% !important;
}

.modal100 > .modal-dialog {
    width: 100% !important;
}

.modal75 > .modal-dialog {
    width: 75% !important;
}





.dashboard-stat.dashboard-stat-v2 .visual {
    margin-bottom: -30px !important;
    padding-top: 0px !important;
    font-size: 12px !important;
}

.dashboard-stat .visual {
    height: auto !important;
    height: auto !important;
}

.dashboard-stat .details .number {
    padding-top: 0px !important;
}


.md-checkbox label > span {
    left: 40px !important;
    /*margin-top: 15px !important;*/
}


.tLeft {
    text-align: left !important;
}

.tRight {
    text-align: right !important;
}

.tCenter {
    text-align: center !important;
}




.page-header {
    height: auto !important;
}

.dataTables_wrapper {
    margin-top: 3px !important;
}

div.dataTables_wrapper div.dataTables_filter {
    margin-right: 5px !important;
    margin-top: 0px !important;
}

.portlet.box .dataTables_wrapper .dt-buttons {
    margin-top: 0px !important;
}


.portlet.box.green, .portlet.box.green > .portlet-title, .portlet.green, .portlet > .portlet-body.green {
    background-color: #42555e !important;
    opacity: 0.9 !important;
    */
}

    .portlet.box.green > .portlet-title, .portlet.green, .portlet > .portlet-body.green {
        background-color: #42555e !important;
        margin-top: 5px !important;
        border-radius: 10px !important;
    }

.portlet.box.green {
    border: 1px solid #42555e !important;
}



.btn.default:not(.btn-outline) {
    border-color: #42555e !important;
}


#dt table tr {
    width: 100% !important;
}

.modal50 > .modal-dialog {
    width: 50% !important;
}

.modal75 > .modal-dialog {
    width: 75% !important;
}

.modal100 > .modal-dialog {
    width: 100% !important;
}


.page-wrapper {
    width: 99% !important;
    margin: 0 auto !important;
}


.btn-success {
    background-color: #e1e5ec !important;
    color: #000000 !important;
    border-radius: 3px !important;
    border: solid 1px #c6c6c6 !important;
}

.dataTables_length {
    margin-top: 0px !important;
}



.closes {
    float: right;
    font-size: 22px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    text-shadow: 0 2px 0 #ffffff;
    /*opacity: 0.2;*/
    filter: alpha(opacity=20);
    text-decoration: none;
    margin-top: 5px;
}

    .closes:hover {
        color: #000000;
        text-decoration: none;
        opacity: 0.4;
        filter: alpha(opacity=40);
        cursor: pointer;
    }


.copyrightCustom {
    background: #eff3f8 !important;
    text-align: center !important;
}


/*table.table-striped th, table.table-striped td {
    font-size: 10px !important;
}*/
