

<div class="uk-section-default uk-section uk-padding-remove-vertical">
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
        <div class="uk-width-1-1@m uk-first-column">
            <div uk-slideshow="ratio: false;animation: pull" class="uk-margin uk-slideshow">
                <div class="uk-position-relative uk-visible-toggle" tabindex="-1">
                    <ul class="uk-slideshow-items" uk-height-viewport="offset-top: true; minHeight: 300; offset-bottom: 20">
                        <li class="el-item" tabindex="-1">
                            <img class="el-image" alt="" uk-img="target: !.uk-slideshow-items" uk-cover=""
                                 src="/img/5.jpg">
                        </li>
                    </ul>
                    <div class="uk-position-bottom-center uk-position-small uk-light">
                        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section-white-bg">
    <div class="uk-margin-top uk-text-center">
        <h2 class="uk-h1 uk-text-center light-font">
            DENİZLE TANIŞMA PROGRAMI
        </h2>
    </div>

    <div class="uk-container uk-margin uk-container-small">
        <p>
            Deniz türlü türlü huyu olan bir sevgilidir. Ama keyfi paha biçilemez. Denizde devamlı olabilmek için bir tekne sahibi olmalıyız ve sayısız seçenek var acaba en doğru tekne hangisi? Kaç metre olmalı? Motoryat mı yelkenli mi? Karşımıza bu türden yüzlerce soru çıkacak ama öncelikle deniz şartlarına ayak uydurabilecek misiniz buna bir bakalım. Bunun cevabını size uzaktan söyleyenlere itibar etmeyin çünkü bunun cevabı zaten sizde ama önce birkaç şey yapmanız lazım.

            <br /><br />
            <a href="/Home/programigor">PROGRAMI GÖR</a>


        </p>
    </div>
</div>




