



<div class="uk-section-default uk-section uk-padding-remove-vertical">
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
        <div class="uk-width-1-1@m uk-first-column">
            <div uk-slideshow="ratio: false;animation: pull" class="uk-margin uk-slideshow">
                <div class="uk-position-relative uk-visible-toggle" tabindex="-1">
                    <ul class="uk-slideshow-items" uk-height-viewport="offset-top: true; minHeight: 300; offset-bottom: 20">
                        <li class="el-item" tabindex="-1">
                            <img class="el-image" alt="" uk-img="target: !.uk-slideshow-items" uk-cover=""
                                 src="/img/3.jpg">
                        </li>
                    </ul>
                    <div class="uk-position-bottom-center uk-position-small uk-light">
                        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section-white-bg">
    <div class="uk-margin-top uk-text-center"><h2 class="uk-h1 uk-text-center light-font">İlk Teknem Nedir</h2></div>

    <div class="uk-container uk-margin uk-container-small">
        <p>


            <br /><br />
            İlk Teknem Ne İçin Kuruldu?
            <br /><br />

            İlk Teknem platformu aslında bir ihtiyaçtan doğdu. Ülkemizde deniz ve denizcilikle ilgili bilgiler veren uygulamalar/eğitimler yapan yüzlerce kuruluş var ve hepsi de alanında çok iyi işlere imza atıyor. Ancak biz amatörler denizle tanışmaya karar verdiğimiz ya da verdiğimizi sandığımız süreçte, işe hep ortasından başlamak zorunda kalıyoruz. Daha basit bir dille bir şeyi öğrenmeye karar verip kursa gidiyoruz tam eğitim ortasında bu işin bize çok uygun olmadığına ya da bu eğitimi almaya gerek olmadığına karar verip yarıda bırakıyoruz. Oysa öncesinde bize bu merakımızı tanıtan bir similasyon sunulsaydı belki de bunu yapıp yapamayacağımız daha net görecek ve tercihlerimizi de buna göre yapacaktık.
            <br /><br />

            Örneğin bugüne kadar denizle hiç haşır neşir olmadık ama inanılmaz bir bağ bizi denize daha doğrusu tekne yaşamına çekiyor. Sonra hayaller kuruyoruz alırım bir tekne eşimle beraber açılırım denizlere hatta gider Ege’ye yerleşir orada kalırım 6 ay… Güzel hayaller bunlar ve peşini bırakmamak lazım. Ama ya sizi deniz tutuyorsa? Ya eşiniz tekne yaşamına ayak uyduramazsa? Ya siz teknede olmaktan tez zamanda sıkılırsanız? Peki ya teknede güvenlik… İşte bunları deneyimlemeden bilmenin bir yolu yok maalesef. Bu arada yukarıda sayılan sorunların hepsinin çok basit çözümleri olduğunu da söylemek gerek ama bunları deneyimlemeden çözemeyiz.
            <br /><br />

            İlk Teknem platformu da ilk kez denizle tanışacak ya da deneyimi birkaç kereyle sınırlı kalmış deniz severlere bir simülasyon yani “taklit” sunmaktadır.
            <br /><br />

            Her bütçeye göre tekne bulmak mümkün ancak yine de birikiminizi bir yere bağlamadan önce hem kendinizi hem denizciliği hem de tekne hayatını çeşitli bilgiler eşliğinde bir kez deneyimleyerek karar vermek daha doğru olmaz mı?
            <br /><br />

            Buraya kadar tamamsa “İlk Teknem” programına başlayabiliriz

            <a href="/Home/denizletanisma">İLK TEKNEM PROGRAMI bir göz atalım</a>

        </p>
    </div>
</div>


