    <!-- content start -->

<div class="uk-section-default uk-light uk-position-relative" uk-scrollspy="target: [uk-scrollspy-class]; cls: uk-animation-fade; delay: false;" tm-header-transparent="light" tm-header-transparent-placeholder="">
    <div uk-slideshow>
        <div class="uk-slideshow-items" uk-height-viewport="min-height: 300">

            <div uk-img="" class="uk-background-norepeat uk-background-cover uk-background-center-center uk-section uk-flex uk-flex-middle" uk-height-viewport="offset-top: true;"
                 style="background-image: url('/img/2.jpg');">
                <div class="uk-width-1-1">
                    <div class="uk-container">
                        <div class="tm-header-placeholder uk-margin-remove-adjacent" style="height: 80px;"></div>
                        <div class="uk-grid-margin uk-grid uk-grid-stack uk-grid-small" uk-grid="">
                            <div class="uk-width-1-1@m uk-first-column" style="max-width:1000px">
                                <h1 style="font-weight:300;" class="uk-heading-small uk-text-left uk-scrollspy-inview uk-animation-slide-bottom-small" uk-scrollspy-class="uk-animation-slide-bottom-small" style="">
                                    Tekneye İlk Adımınızı Şimdi Atın TEKNE VE DENİZLE TANIŞMA PROGRAMI  kampanyalı fiyatı 490 ₺


                                </h1>
                                <div class="uk-margin uk-text-left uk-scrollspy-inview uk-animation-slide-top-small" uk-scrollspy-class="uk-animation-slide-top-small" style="">

                                </div>
                                <div class="uk-margin-medium uk-text-left uk-scrollspy-inview uk-animation-slide-top" uk-scrollspy-class="" style="">
                                    <a class="el-content uk-button uk-button-default" href="/Home/programigor">
                                        Programı Gör <span uk-icon="arrow-right"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div uk-img="" class="uk-background-norepeat uk-background-cover uk-background-center-center uk-section uk-flex uk-flex-middle" uk-height-viewport="offset-top: true;"
                 style="background-image: url('/img/1.jpg');">
                <div class="uk-width-1-1">
                    <div class="uk-container">
                        <div class="tm-header-placeholder uk-margin-remove-adjacent" style="height: 80px;"></div>
                        <div class="uk-grid-margin uk-grid uk-grid-stack uk-grid-small" uk-grid="">
                            <div class="uk-width-1-1@m uk-first-column" style="max-width:1000px">
                                <h1 style="font-weight:300;" class="uk-heading-small uk-text-left uk-scrollspy-inview uk-animation-slide-bottom-small" uk-scrollspy-class="uk-animation-slide-bottom-small" style="">
                                    İLK TEKNEM, DENİZLE VE TEKNEYLE TANIŞMA PLATFORMUDUR.


                                </h1>
                                <div class="uk-margin uk-text-left uk-scrollspy-inview uk-animation-slide-top-small" uk-scrollspy-class="uk-animation-slide-top-small" style="">
                                    Bu platform denizle yeni tanışanlar ya da tanışmak isteyenler için kurulmuş similasyon programıdır. İleri denizcilik ya da kaptanlık eğitimi verilmemektedir.
                                </div>
                                <div class="uk-margin-medium uk-text-left uk-scrollspy-inview uk-animation-slide-top" uk-scrollspy-class="" style="">
                                    <a class="el-content uk-button uk-button-default" href="/Home/ilkteknem">
                                        Devamını Gör <span uk-icon="arrow-right"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
        <ul class="uk-slider-nav uk-dotnav uk-visible@m"></ul>
        <a class="uk-position-center-left uk-position-small uk-slidenav-large uk-visible@m" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-slidenav-large uk-visible@m" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    </div>




</div>

<div class="uk-container uk-container-large uk-margin-medium">
    <div class="uk-grid-collapse uk-grid" uk-grid="">
        <div class="uk-flex-middle uk-width-expand@l">
            <div class="uk-panel uk-width-1-1">
                <h2 class="uk-h1 uk-text-center light-font">        HAKKIMIZDA    </h2>
                <div class="divider"></div>
                <div class="uk-margin uk-width-2-3 uk-margin-auto uk-text-center light-font">
                    <p>
                        “İlk Teknem” amatör denizcilere ve denizle kucaklaşmak isteyen tüm deniz severlere başlangıç aşamasında destek vermek amacıyla Bidolucv Eğitim Bilişim Danışmanlık Hiz. Ltd. Şti” tarafından 2016 yılında kurulmuştur. Hedefimiz denizciliğe gönül vermek isteyen herkese doğru ve tarafsız bilgiler vererek tekne almaya karar verme sürecinde katılımcıların denizle ilgili farkındalığını artırmaktır.
                        <br />
                        “İlk Teknem” eğitim programında katılımcılara karar verme sürecinde hem denizi tanıtıyor hem de tekneler hakkında genel bilgiler veriyoruz.
                        <br />
                        “İlk Teknem” platformu denizlerimizde daha çok tekne olmasına ve insanların denizi daha iyi tanımasına olanak sağlarken bunu her bütçe için ulaşılabilir kılmayı da ihmal etmiyoruz.
                        <br />
                        Denizlerimize her yıl yeni denizciler ve yeni tekneler dahil oluyor; boy boy yelkenli tekneler görmek bize hem huzur hem de mutluluk veriyor. Bu sürecin bir yerine dahil olmak deniz sevdalılarını denizle en doğru yoldan tanıştırmak “İlk Teknem” platformunun gurur kaynağıdır.
                        <br />
                        Biliyoruz ki çoğumuz denizi seviyor ve bir şekilde onun etrafında olmak istiyoruz o halde neden denizin üstünde dalgaların ve rüzgarın şarkısıyla yeni yerler keşfetmeyelim.
                        <br />
                        Kimler bu programa katılabilir: ilk defa tekne alacaklar, denizle ilgili hiçbir bilgisi olmayan ama denize ilgi duyanlar, tatil anlayışını değiştirmek isteyenler, kendilerine ait yeni bir yaşam alanı oluşturmak isteyenler, nereden başlanır bu işe diye düşünenler. Kısacası ilk teknesine sahip olmaya niyetlenen herkes bu programa katılabilir.
                    </p>
                </div>
                <div class="uk-margin-small uk-text-center">
                    <a class="el-content uk-button uk-button-default" href="/Home/ilkteknem">
                        “İlk Teknem” platformu ne iş yapar?<span uk-icon="arrow-right"></span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="uk-section-default uk-section uk-padding-remove-vertical">
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
        <div class="uk-width-1-1@m uk-first-column">
            <div class="uk-margin uk-text-left">

                <h2 class="uk-h1 uk-text-center light-font" style="font-style:italic;font-size:26px;padding-right:120px">  <img class="uk-visible@m" src="assets/img/bird.png" width="150px">      Sonsuz Mavilik, Sınırsız Mutluluk...    </h2>
                <div class="divider" style="margin-bottom:50px"></div>

                <div class="uk-container">

                    <div class="uk-grid-small uk-grid-margin-large uk-grid" uk-grid="">
                        <div class="uk-grid-item-match uk-width-expand@l">
                            <a href="#">
                                <div class="uk-tile-primary uk-flex">
                                    <div class="uk-tile uk-width-1-1 uk-flex uk-flex-middle uk-background-norepeat uk-background-contain uk-background-bottom-right"
                                         style="background:url('/img/home1.jpg');background-size:cover;position:relative;overflow:hidden">
                                        <div class="mask-v"></div>
                                        <div class="uk-panel uk-width-1-1">
                                            <div class="uk-width-xlarge@s uk-margin-auto uk-text-left@s uk-text-center hover-logo" style="height:200px">
                                            </div>
                                            <div class="uk-width-xlarge@s uk-margin-auto uk-text-left@s uk-text-center">
                                                <div class="" style="color:white;text-align:center">
                                                    Mavi & Yeşil
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="uk-grid-item-match uk-width-expand@l">
                            <a href="#">
                                <div class="uk-tile-primary uk-flex">
                                    <div style="background:url('/img/home3.jpg');background-size:cover;position:relative;overflow:hidden" class="uk-tile uk-width-1-1 uk-flex uk-flex-middle uk-background-norepeat uk-background-contain uk-background-bottom-right">
                                        <div class="mask-v "></div>
                                        <div class="uk-panel uk-width-1-1">
                                            <div class="uk-width-xlarge@s uk-margin-auto uk-text-center@s uk-text-center hover-logo" style="height:200px">
                                            </div>
                                            <div class="uk-width-xlarge@s uk-margin-auto uk-text-left@s uk-text-center">
                                                <div class="el-content" style="color:white;text-align:center">
                                                    Mavi'ye yolculuk
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>



                </div>


            </div>
        </div>
    </div>
</div>
<h2 class="uk-h1 uk-text-center light-font">Paylaşımlar</h2>
<div class="divider"></div>
<div style="margin:10px;" uk-grid="" class="uk-child-width-1-3@m uk-grid-large uk-grid">


    <div class="uk-first-column">
        <article id="article-11" class="uk-article" data-permalink="https://www.turmarin.com.tr/blog/genel/karadenizde-uluslararasi-yat-rallisi/">

            <div class="uk-text-center uk-margin-top">
                <a href="#">
                    <img width="1280" height="853" src="/img/Tur-Marin-Karadeniz-Yat-Rallisi.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/img/Tur-Marin-Karadeniz-Yat-Rallisi.jpg 1280w, /img/Tur-Marin-Karadeniz-Yat-Rallisi-300x200.jpg 300w, /img/Tur-Marin-Karadeniz-Yat-Rallisi-768x512.jpg 768w, /img/Tur-Marin-Karadeniz-Yat-Rallisi-1024x682.jpg 1024w, /img/Tur-Marin-Karadeniz-Yat-Rallisi-640x427.jpg 640w, /img/Tur-Marin-Karadeniz-Yat-Rallisi-400x267.jpg 400w, /img/Tur-Marin-Karadeniz-Yat-Rallisi-367x245.jpg 367w" sizes="(max-width: 1280px) 100vw, 1280px">
                </a>
            </div>

            <h2 property="headline" class="uk-margin-remove-bottom uk-h2 uk-margin-small-top">
                <a href="#" class="uk-link-reset blog-title">
                    KARADENİZ’DE ULUSLARARASI YAT RALLİSİ
                </a>
            </h2>

            <div class="uk-margin-small-top" property="text">
                <p>&nbsp; Yat gezisi ya da yat yarışı denilince akla en son Karadeniz geliyor. Oysa, bu önyargıyı kırmak için 1997’de atılan bir adım var; KAYRA yani Karadeniz Yat Rallisi. 1996 yılında Ataköy Marina Yat Club’ta başlayan organizasyonun asıl amacı Karadeniz’in sularına karşı önyargıyı kırmak ve yat turizmi için kullanılabileceğini de göstermekti. 1997’de KAYRA faaliyete başladı. Bu […]</p>

            </div>
            <p class="uk-margin-small-top">
                <a class="uk-button uk-button-default" href="#">Devamını Oku</a>
            </p>
        </article>
    </div>



    <div class="">
        <article id="article-11" class="uk-article" data-permalink="https://www.turmarin.com.tr/blog/genel/istanbulda-duzenlenen-yat-yarislari/">

            <div class="uk-text-center uk-margin-top">
                <a href="#">
                    <img width="1600" height="1067" src="/img/Tur-Marin-İstanbul’da-Düzenlenen-Yat-Yarışları.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/img/Tur-Marin-İstanbul’da-Düzenlenen-Yat-Yarışları.jpg 1600w, /img/Tur-Marin-İstanbul’da-Düzenlenen-Yat-Yarışları-300x200.jpg 300w, /img/Tur-Marin-İstanbul’da-Düzenlenen-Yat-Yarışları-768x512.jpg 768w, /img/Tur-Marin-İstanbul’da-Düzenlenen-Yat-Yarışları-1024x683.jpg 1024w, /img/Tur-Marin-İstanbul’da-Düzenlenen-Yat-Yarışları-640x427.jpg 640w, /img/Tur-Marin-İstanbul’da-Düzenlenen-Yat-Yarışları-400x267.jpg 400w, /img/Tur-Marin-İstanbul’da-Düzenlenen-Yat-Yarışları-367x245.jpg 367w" sizes="(max-width: 1600px) 100vw, 1600px">
                </a>
            </div>

            <h2 property="headline" class="uk-margin-remove-bottom uk-h2 uk-margin-small-top">
                <a href="#" class="uk-link-reset blog-title">
                    İstanbul’da Düzenlenen Yat Yarışları
                </a>
            </h2>

            <div class="uk-margin-small-top" property="text">
                <p>Türkiye’de yat yarışları İstanbul, Çeşme, Bodrum, Marmaris ve Göcek ‘de Türkiye Yelken Federasyonu’na bağlı olarak dört mevsim düzenlenmektedir. Takvime federasyonun sitesinden ulaşmak mümkün. İstanbul’daki başlıca yat yarışları; Çanakkale Zaferi Kupası: İstanbul Yelken Kulübü ve Deniz Harp Okulu işbirliği ile gerçekleştirilir. Fenerbahçe’den start alan yarış Tuzla’da Deniz Harp Okulu’nda son bulur. Yarışlar iki gün sürer. İlk […]</p>

            </div>
            <p class="uk-margin-small-top">
                <a class="uk-button uk-button-default" href="#">Devamını Oku</a>
            </p>
        </article>
    </div>



    <div class="">
        <article id="article-11" class="uk-article" data-permalink="https://www.turmarin.com.tr/blog/genel/alaninin-en-iddialisi-fountain-pajot-lucia-40/">

            <div class="uk-text-center uk-margin-top">
                <a href="#">
                    <img width="1280" height="720" src="/img/Tur-Marin-Alanının-En-İddialısı-Fountain-Pajot-Lucia-40.docx.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="/img/Tur-Marin-Alanının-En-İddialısı-Fountain-Pajot-Lucia-40.docx.jpg 1280w, /img/Tur-Marin-Alanının-En-İddialısı-Fountain-Pajot-Lucia-40.docx-300x169.jpg 300w, /img/Tur-Marin-Alanının-En-İddialısı-Fountain-Pajot-Lucia-40.docx-768x432.jpg 768w, /img/Tur-Marin-Alanının-En-İddialısı-Fountain-Pajot-Lucia-40.docx-1024x576.jpg 1024w, /img/Tur-Marin-Alanının-En-İddialısı-Fountain-Pajot-Lucia-40.docx-640x360.jpg 640w, /img/Tur-Marin-Alanının-En-İddialısı-Fountain-Pajot-Lucia-40.docx-400x225.jpg 400w, /img/Tur-Marin-Alanının-En-İddialısı-Fountain-Pajot-Lucia-40.docx-367x206.jpg 367w" sizes="(max-width: 1280px) 100vw, 1280px">
                </a>
            </div>

            <h2 property="headline" class="uk-margin-remove-bottom uk-h2 uk-margin-small-top">
                <a href="#" class="uk-link-reset blog-title">
                    Alanının En İddialısı: Fountain Pajot Lucia 40
                </a>
            </h2>

            <div class="uk-margin-small-top" property="text">
                <p>Fountaine Pajot’un 40. Yılı için Haziran 2015’te özel olarak hazırlandı. Kendisi yelkenli yatlar içindeki en küçük katamaran olma özelliği taşıyor. Dar koylar ve sığ limanlar Lucia 40 ile artık daha keyifli. “Denizin harika sanatçısı” Çağdaş görüntüsünün yanında 95 metrekareye yayılan rüzgar yelkenleriyle denizde adeta bir sanatçıya dönüşüyor. Bu değer 40 ayaklık sınıfında ortalamanın üzerinde yer […]</p>

            </div>
            <p class="uk-margin-small-top">
                <a class="uk-button uk-button-default" href="#">Devamını Oku</a>
            </p>
        </article>
    </div>


</div>

<!-- content end -->