




    <div class="uk-section-default uk-section uk-padding-remove-vertical">
        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
            <div class="uk-width-1-1@m uk-first-column">
                <div uk-slideshow="ratio: false;animation: pull" class="uk-margin uk-slideshow">
                    <div class="uk-position-relative uk-visible-toggle" tabindex="-1">
                        <ul class="uk-slideshow-items" uk-height-viewport="offset-top: true; minHeight: 300; offset-bottom: 20">
                            <li class="el-item" tabindex="-1">
                                <img class="el-image" alt="" uk-img="target: !.uk-slideshow-items" uk-cover="" 
                                     src="/img/hakkimizda-banner.jpg">
                            </li>
                        </ul>
                        <div class="uk-position-bottom-center uk-position-small uk-light">
                            <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section-white-bg">
        <div class="uk-margin-top uk-text-center"><h2 class="uk-h1 uk-text-center light-font"> Yararlı Yazılar</h2></div>

        <div class="uk-container uk-margin uk-container-small">
       
	   <div class="c-article_body c-cms_output-container au-target" ref="container" show.bind="html != null" au-target-id="827"><p> Yelkenli seyahat ile ilgili bilgi, deneyim ve öneriler.</p>
<p>Yelkenli, insanlarda ekstrem tepkiler uyandıran bir aktivitedir. Bazıları yaşam gücünü yelkenliden alırken, bazıları da korkunç ve dayanılmaz bir seyahat şekli olduğunu düşünüyor.</p>
<p>Hangi tarafa ait olursanız olun, dünyada yelkenli ile ulaşabileceğiniz yerlerin ortak bir noktaya sahip olduğunu kabul etmelisiniz. Yeryüzündeki en şaşırtıcı güzellikteki yerlerdir. Pasifik’teki gün batımlarını asla unutamazsınız. Gün batımında derin masmavi sular, hafif bir esinti…</p>
<h2>Yelkenli seyahat hakkında kısa kısa</h2>
<figure id="attachment_10123" class="wp-caption alignnone"><img class="wp-image-10123 size-full" src="https://c1.momondo.net/cms/prod/sites/36/2018/07/18090305/luke-bender-577747-unsplash.jpg" alt="" width="698" height="450"><figcaption class="wp-caption-text">Yelkenli seyahat için tercih edilen genellikle yaz ayları © <a title="Görselin orijinali Unsplash'da görülebilir" href="#" target="_blank" rel="noopener noreferrer"></a></figcaption></figure>
<p>Yelkenli ile seyahat genel pratikte mevsim ve konfor faktörlerinden dolayı yaz aylarında tercih edilmektedir. Ama bu demek değildir ki, yelkenli ile kış aylarında seyahat edilemez. Yelkenli yarışlarının büyük çoğunluğu kış aylarında gerçekleşir.</p>
<p>Yelken meraklıları kendi teknelerine sahip olma eğilimindedir, ancak seyahat için tekne kiralama seçeneği de mümkündür.</p>
<p>Yelkenli gezileri düzenleyen, ayrıca tekne kiralayan birçok şirket var. Seçtiğiniz hedefte bu hizmetleri internet üzerinden kısa bir arama ile bulabilirsiniz.</p>
<p>Yelkenli seyahati tekne sahibi olmadan ya da kiralamadan gerçekleştirmek isterseniz, teknestop ile yani teknelere otostop çekerek de dünya turuna çıkabilirsiniz.</p>
<h2>Yelkenli ile seyahat etmek için nereden başlamalı?</h2>
<figure id="attachment_10124" class="wp-caption alignnone"><img class="wp-image-10124 size-full" src="https://c1.momondo.net/cms/prod/sites/36/2018/07/18090602/milkovi-644011-unsplash.jpg" alt="" width="698" height="450"><figcaption class="wp-caption-text">Yelkenli ile seyahate çıkmadan önce hazırlıklı olmak gerek © <a title="Görselin orijinali Unsplash'da görülebilir" href="" target="_blank" rel="noopener noreferrer"></a></figcaption></figure>
<p>Yelkenli ile seyahat etmek için öncelikle temel denizcilik ve yelkenli bilgisine sahip olmak gerekiyor. Okyanusta dalgalar ile boğuşurken vücut bütünlüğümüzü güvende tutabilmek, rüzgarı anlayabilmek, doğa ile savaşmak yerine ona uyum sağlamak gerekir. O nedenle ilk olarak temel yelkenli eğitimi alıp, üzerine en az bir kaç kısa seyirde pratik yapmak önemli.</p>
<p>Herkese hitap edecek tekneler olduğu için, yelkenli seyahat için fit ya da yetenekli olmanıza gerek yok. Güçlü bir yüzücü olmanıza bile gerek yok ama bir can yeleği ile suda rahat hareket edebilmeniz gerekir.</p>
<p>Kulüpler başlamak için harika ve uygun fiyatlı bir yoldur. Yelkenliyi sevip sevmeyeceğinize, klüplere kayıt olarak ve onlarla beraber etkinliklere katılarak karar verebilirsiniz. Bu yelkenli satın almaktan ya da kiralamaktan daha ekonomik bir yol olacaktır.</p>
<h2>Kitap Tavsiyeleri</h2>
<p>Yelkenli seyahate çıkmadan önce güzel bir araştırma, yolda başınıza gelebilecek bir çok aksilik konusunda fikir sahibi olmanıza yardımcı olacaktır. Daha önce sizinle benzer tecrübeler yaşayan insanların deneyimlerini okumak daha hazırlıklı olmanızı sağlayacaktır.</p>
<p>Yelkenlide yemek pişirmeden, rüzgarı anlamaya kadar geniş çerçevede yazılmış bir rehber kitap, yelkenlide en büyük yardımcınız olacak bağları anlatan bir bağ kitabı, doğa olaylarını anlamanızı kolaylaştıracak bir kitap ve gideceğiniz bölgelere özel rehber kitaplar mutlaka yanınızda bulunmalı.</p>
<p><strong>Sailing: A Woman’s Guide</strong><br>
<strong>Book of Sailing Knots: How To Tie And Correctly Use Over 50 Essential Knots</strong><br>
<strong>The Lost Art of Reading Nature’s Signs</strong></p>
<p>Bu tarz kitaplar güzel örnekleri oluşturuyor.</p>
<h2>İlk kez yelkenli seyahate çıkacaklar için tavsiyeler</h2>
<p><strong>1. Nereye gideceğinizi ve bölge ve hava durumu hakkında bilgi sahibi olun.</strong></p>
<figure id="attachment_10126" class="wp-caption alignnone"><img class="wp-image-10126 size-full" src="https://c1.momondo.net/cms/prod/sites/36/2018/07/18092507/nathan-dumlao-557743-unsplash.jpg" alt="" width="698" height="450"><figcaption class="wp-caption-text">Gidilmek istenen yerle ilgili detayların mutlaka gözden geçirilmesi gerekiyor © <a title="Görselin orijinali Unsplash'da görülebilir" href="https://unsplash.com/photos/DtNkfLm_yVk" target="_blank" rel="noopener noreferrer">Nathan Dumlao</a></figcaption></figure>
<p>Her bir hedefin, yelken deneyiminizi etkileyecek kendine özgü bir dizi ilgi alanı ve dezavantajı vardır. Uzak bir yere mi gidiyorsunuz? Bu yerdeki su genellikle dalgalı mı? Bu ayrıntılar (ve diğerleri) planınıza yardımcı olacak önemli detaylardır.</p>
<p><strong>2. Doğru ayakkabı, göz önünde bulundurulması gereken en önemli kıyafetler arasındadır.</strong></p>
<p>Tekne zemininin kayganlaşması bir sürpriz değil. İşte bu yüzden ayakkabılar, gemiye getirdiğiniz en önemli giysi olabilir. Ayak parmaklarınızı örten kauçuk tabanlı bot ayakkabılar ve sandaletler, yaralanmaları önlemek için en iyisidir. Tabanları siyah olan ayakkabıların leke bırakabileceğini unutmayın.</p>
<p><strong>3. Menünüzü planlayıp, kumanya alışverişini ona göre yapın.</strong></p>
<p>Bir gün ya da hafta boyunca denize çıkmayı planlıyorsanız, yemek şarttır. Yemeklerinizi planlarken, birkaç noktaya dikkat edilmelidir. İlk olarak, gemide (mürettebat dahil) kaç kişi olacak? Yiyecek alerjisi olan var mı? Hangi öğeler en iyi yerde kalacaktır? Teknede pişirebilecek en pratik yemekler nelerdir? Hangi yiyecekler ne kadar süre dayanıyor? Kabataslak bir şekilde excel üzerinde hazırlayacağınız menü, hangi yiyeceklerden ne kadar almanız gerektiğini hesaplamanıza yardımcı olacaktır.</p>
<p><strong>4. İyi düşünülmüş bir ilk yardım çantası getirin.</strong></p>
<p>Her ilk yardım çantasının temeli yara bandı, antibiyotik ve ağrı kesicidir, ancak bir kaç ilave yapılabilir. Kendinizi kırık kemikler ve çiziklerden yanıklara ve hastalıklara kadar her şeyle başa çıkmaya hazırlayın. Denizcilik mağazaları genellikle hazır kitler sunmaktadır. Gerekli olan her şeyi sağladığınızdan emin olmak için gemideki herkesin potansiyel ihtiyaçlarını öğrenin.</p>
<p><strong>5. GPS, pusula ve haritaya sahip olduğunuzdan emin olun.</strong></p>
<figure id="attachment_10131" class="wp-caption alignnone"><img class="wp-image-10131 size-full" src="https://c1.momondo.net/cms/prod/sites/36/2018/07/18113858/tim-graf-229428-unsplash.jpg" alt="" width="698" height="450"><figcaption class="wp-caption-text">Pusulasız bir yelkenli tatil asla! © <a title="Görselin orijinali Unsplash'da görülebilir" href="" target="_blank" rel="noopener noreferrer"></a></figcaption></figure>
<p>Bir GPS, bugünlerde akıllı telefonlarımızın çoğunda yüklü olan en iyi navigasyon aracıdır. Ancak, teknik sıkıntılara karşı, yedekte bir kağıt harita bulundurmakta fayda var.</p>
<p><strong>6. Ekipmanlarınızı denize uygun seçin.</strong></p>
<p>Suyun üzerinde tam bir gün, çok miktarda deniz ve güneş demektir, bu yüzden ıslanmaya ve UV ışınlarına hazır olun. Suya atlamak için şansınız olması durumunda güneş gözlükleri, güneş koruyucu ve koruyucu kıyafetler de denize uygun olmalıdır.</p>
<p><strong>7. Günlük edinin.</strong></p>
<p>İlk kez seyire çıkıyorsanız, tecrübelerinizi ve anılarınızı not edeceğiniz bir günlük edinin. Güzel anılarınız ve ilk heyecanlarınızı sonradan okumak çok keyif veriyor.</p>
<p><strong>8. Deniz tutması bir olasılık ise, tedbirinizi alın.</strong></p>
<p>Ufka bakmak ve belirli yiyeceklerden kaçınmak, deniz tutmasını önlemek için temel yollardır, ancak bazen daha fazlasına ihtiyacınız olabilir. Deniz tutmasını engelleyen bantlar, bileklikler ya da son tercih olarak ilaçları kullanabilirsiniz.</p>
<p><strong>9. Yelkenli terimlerini öğrenin.</strong></p>
<p>Kendiniz ve mürettebat arasındaki iletişim akışını sağlamak için yelkenle ilgili kelime bilginizi öğrenin. Bir yelkenli geminin kenarları, bileşenleri ve bağlar anlaşılması gereken en önemli kelimeler arasındadır.</p>
<p><strong>10. Kişisel eşyalarınızı su geçirmez bir torbada saklayın.</strong></p>
<p>Kişisel eşyaların güvende olmasını sağlamak için (kameranız gibi), su geçirmez bir sırt çantası veya spor çantası içinde saklayın.</p>
<p><strong>11. Gemideki rolünüzü bilin.</strong></p>
<p>İster saf keyif için ister öğrenmek için yola çıkın, teknedeki rolünüzü ve yerinizi bilin. Herkes kendisine verilen göreve sadık kaldığında, işler sorunsuzca yürümektedir. Son kararı veren tek bir lider olması, acil durumlarda kolaylık sağlar. En kötü karar, verilmeyen karardır.</p>
<h2>Dünya’nın en güzel yelkenli rotaları</h2>
<p><strong>Hırvatistan</strong></p>
<figure id="attachment_10129" class="wp-caption alignnone"><img class="wp-image-10129 size-full" src="https://c1.momondo.net/cms/prod/sites/36/2018/07/18104334/sergii-gulenok-61954-unsplash.jpg" alt="" width="698" height="450"><figcaption class="wp-caption-text">Adriyatik’in sakin suları © <a title="Görselin orijinali Unsplash'da görülebilir" href="" target="_blank" rel="noopener noreferrer"></a></figcaption></figure>
<p>Hırvatistan, her türden yelkenci için ziyaret edilmesi gereken bir yer haline geldi. Adriyatik’in sakin suları, 1,185’ten daha fazla adayı ve 1,100 kilometreden daha fazla kıyı şeridini vaat etmektedir. Hırvatistan, yemyeşil yamaçlar ve tüm Avrupa’nın en büyüleyici kasabalarından bazılarını içeren keşfedilecek çok sayıda sahil şeridini içermektedir.</p>
<p><strong>Galapagos Adaları</strong></p>
<figure id="attachment_10132" class="wp-caption alignnone"><img class="wp-image-10132 size-full" src="https://c1.momondo.net/cms/prod/sites/36/2018/07/18114723/simon-matzinger-347343-unsplash.jpg" alt="" width="698" height="450"><figcaption class="wp-caption-text">Bu küçük adanın sundukları inanılmaz © <a title="Görselin orijinali Unsplash'da görülebilir" href="" target="_blank" rel="noopener noreferrer"></a></figcaption></figure>
<p>Doğu Pasifik Okyanusu’ndaki bu ünlü ama küçük adalar oldukça uzaktır, ancak dünyanın dört bir yanından gelen insanları, mavi ayaklı sümsük kuşlarından, dev kaplumbağalara ve penguenlere ve deniz aslanlarına kadar az bulunan vahşi hayvanlara görebileceğiniz ender yerlerdendir. Yalnız biraz maliyetli bir bölge olduğunu belirtmekte fayda var.</p>
<p><strong>Fransız Polinezyası</strong></p>
<figure id="attachment_10133" class="wp-caption alignnone"><img class="wp-image-10133 size-full" src="https://c1.momondo.net/cms/prod/sites/36/2018/07/18115637/francois-pierrot-522158-unsplash.jpg" alt="" width="698" height="450"><figcaption class="wp-caption-text">Denizde keşfedilecek güzellikler © <a title="Görselin orijinali Unsplash'da görülebilir" href="" target="_blank" rel="noopener noreferrer"></a></figcaption></figure>
<p>Fransız Polinezyası, yemyeşil bitki örtüsü ve görkemli şelalelerle süslenmiş volkanik zirveler içeren beş ana adadan oluşmaktadır. Adalar, karada olduğu kadar denizde de keşfedilecek çok güzel lagünler ve egzotik deniz yaşamını sunuyor. Burası gerçekten tropik cennet fotoğraflarının çekildiği yerlerden. Güney Pasifik’e yayılmış olan adalar, 770 milden fazla bir alana yayılmış, neredeyse Batı Avrupa büyüklüğünde bir alan.</p>
<p><strong>Yunan Adaları</strong></p>
<figure id="attachment_10134" class="wp-caption alignnone"><img class="wp-image-10134 size-full" src="https://c1.momondo.net/cms/prod/sites/36/2018/07/18120845/rory-collins-383854-unsplash.jpg" alt="" width="698" height="450"><figcaption class="wp-caption-text">Türkiye’den başlayarak Yunan adalarını yelkenli ile keşfetmek mümkün © <a title="Görselin orijinali Unsplash'da görülebilir" href="" target="_blank" rel="noopener noreferrer"></a></figcaption></figure>
<p>Yelken, tarih öncesi çağlardan beri Yunan hayat tarzının bir parçası olmuştur. Yunanistan’da, her biri kendine özgü karakteri bir çok ada bulacaksınız. Bu nefes kesen adaları deneyimlemek için en iyi yol, yelkenli ile adaya gitmek ve gözlerden uzak yerler bularak uzoyu tatmaktır. Türkiye’den çıkıp kıyı kıyı gezebileceğiniz bu özel mekan, dünyanın en iyi yelkenli rotaları içerisinde yer almaktadır.</p>

<ul>
<li><a href="https://www.momondo.com.tr/kesfet/yazi/tuplu-dalis-rehberi" target="_blank" rel="noopener noreferrer">Tüplü dalış rehberi: İlk defa dalış yapacaklar için bilgi ve öneriler</a></li>
<li><a href="https://www.momondo.com.tr/kesfet/yazi/alternatif-tatil" target="_blank" rel="noopener noreferrer">Doğaya dönüş: Doğa tatili yapılacak yerler</a></li>
</ul>
</div>
        </div>
    </div>




