<!DOCTYPE html>
<!-- saved from url=(0017) -->
<html lang="tr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@SessionRequest.Title</title>

    <link rel="stylesheet" href="./index_files/bootstrap.min.css">
    <link rel="stylesheet" href="./index_files/all.css">
    <link rel="stylesheet" href="./index_files/main.57f4c744.css">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    @*<script async src="https://www.googletagmanager.com/gtag/js?id=G-450TRTHH3S"></script>*@
    <script>
        //window.dataLayer = window.dataLayer || [];
        //function gtag() { dataLayer.push(arguments); }
        //gtag('js', new Date());

        //gtag('config', 'G-450TRTHH3S');
    </script>


</head>
<body>
    <div class="parallax-mirror" style="visibility: hidden; z-index: -100; position: fixed; top: 0px; left: 0px; overflow: hidden; height: 736.2px; width: 1519.2px; transform: translate3d(0px, 630.313px, 0px);">
        <img class="parallax-slider" src="./index_files/home-jobs.42785058.jpg" style="position: absolute; height: 686px; width: 1922px; max-width: none; transform: translate3d(-201px, -504.25px, 0px);">
    </div>
    <div class="preloader" style="display: none;">
        <img src="./index_files/logo-header.7200ff6b.png" alt="">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <div class="page-wrapper">

        <nav id="navigation" class="navbar navbar-expand-lg bg-scroll">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <h3 style="color:#fff;font-size:30px;">Kazasker  <b> Fen Bilimleri</b></h3>
                    @*<img src="./index_files/logo-header-light-180-90.3356fd61.png" alt="">*@
                </a>
                <a class="navbar-brand navbar-brand-dark" href="/">
                    @*<img src="./index_files/logo-header-180-90.b348ab1a.png" alt="">*@
                    <h3 style="font-size:30px;">Kazasker <b style="color:#b12028"> Fen Bilimleri</b></h3>
                </a>
                <a href="/" class="mobile-nav-show">
                    <i class="fas fa-bars"></i>
                </a>
                <div class="collapse navbar-collapse no-transition" id="navbarMenu">
                    <div class="mobile-nav-header">
                        <a class="logo" href="/">
                            <h3 style="color:#fff;font-size:30px;">Kazasker <b style="color:#b12028"> Fen Bilimleri</b></h3>
                            @*<img src="./index_files/logo-header-light-180-90.3356fd61.png" alt="">*@
                        </a>
                        <a href="#" class="mobile-nav-hide">
                            <img src="~/index_files/close-light-20-20.c99bdb80.png" alt="Close">
                        </a>
                    </div>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a href="/" class="nav-link">Anasayfa</a>
                        </li>
                        <li class="nav-item ">
                            <a href="/hakkimizda" class="nav-link">Hakkımızda</a>
                        </li>
                        <li class="nav-item ">
                            <a href="/paketlerimiz" class="nav-link">Paketlerimiz</a>
                        </li>
                        <li class="nav-item ">
                            <a href="/referanslar" class="nav-link">Referanslar</a>
                        </li>
                        <li class="nav-item ">
                            <a href="/biznasilcalisiriz" class="nav-link">Biz Nasıl Çalışırız</a>
                        </li>
                        <li class="nav-item ">
                            <a href="/iletisim" class="nav-link">İletişim</a>
                        </li>
                    </ul>
                    <div class="mobile-nav-footer">
                        <ul class="social-list">
                            <li><a href="https://www.instagram.com/kazaskerfenbilimleri/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://facebook.com/kazaskerfenbilimleri" target="_blank"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/kazaskerfenbilimleri" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                        <p class="semi-transparent copy">© kazaskerfenbilimleri</p>
                    </div>
                </div>
            </div>
        </nav>

        @RenderBody()

        <div id="tmp-join-us">
            <section class="join-us">
                <div class="bg-img" style="background-image: url('img/anasayfa/2.jpg');"></div>
                <div class="overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 header-subpage-title text-center">
                                <h2 class="h1 font-lighter color-white mb-30">Denemeye <span class="font-bold">Hazır</span> mısın ?</h2>
                                <a href="#" class="button button-filled">BENİ TAKİP <span class="font-bold">ET</span> <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


        <footer class="footer text-center text-lg-left">
            <div class="container">
                <div class="row footer-link-container">
                    <div class="col-6 col-lg-3 footer-section">
                        <a class="footer-brand" href="/">
                            <h3 style="color:#fff;font-size:30px;">Kazasker <b>Fen Bilimleri</b></h3>
                        </a>
                    </div>


                    <div class="col-6 col-lg-3 footer-section">
                        <h5>Kısa Kısa</h5>
                        <ul>
                            <li><a href="/paketlerimiz#id_face">Facebook</a></li>
                            <li><a href="/paketlerimiz#id_instagram">Instagram</a></li>
                            <li><a href="/paketlerimiz#id_web">Web Sitesi</a></li>
                            <li><a href="/paketlerimiz#id_google">Google</a></li>

                        </ul>
                    </div>
                    <div class="col-6 col-lg-3 footer-section">
                        <h5>Bizim Şirket</h5>
                        <ul>
                            <li class="nav-item active">
                                <a href="/" class="">Anasayfa</a>
                            </li>
                            <li class="nav-item ">
                                <a href="/hakkimizda" class="">Hakkımızda</a>
                            </li>
                            <li class="nav-item ">
                                <a href="/paketlerimiz" class="">Paketlerimiz</a>
                            </li>
                            <li class="nav-item ">
                                <a href="/referanslar" class="">Referanslar</a>
                            </li>
                            <li class="nav-item ">
                                <a href="/biznasilcalisiriz" class="">Biz Nasıl Çalışırız</a>
                            </li>
                            <li class="nav-item ">
                                <a href="/iletisim" class="">İletişim</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-3 footer-section">
                        <h5><a style="color:#fff;" href="/iletisim">İletişim</a></h5>
                        <ul>
                            <li>Telefon : 0 216 545 05 27</li>
                            <li>Adres : 19 Mayıs Mah. Şemsettin günaltay cad. <br /> NO: 135 Kadıköy/İSTANBUL</li>
                            <li>Mail : info@kazaskerfenbilimleri.com</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12 order-last order-lg-first col-lg-6 copyright-left">
                        <p class="semi-transparent copy mb-15"><span class="align-middle">@Html.Raw(SessionRequest.copyright)</span></p>
                    </div>
                    <div class="col-12 order-1 order-lg-last col-lg-6 copyright-right">
                        <ul class="social-list">
                            <li><a href="https://www.instagram.com/kazaskerfenbilimleri/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://facebook.com/kazaskerfenbilimleri" target="_blank"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/kazaskerfenbilimleri" target="_blank"><i class="fab fa-twitter"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <div class="scroll-to-top" data-target="html" style="display: block;"><i class="fas fa-chevron-up"></i></div>
    <script src="./index_files/jquery.min.js" type="text/javascript"></script>
    <script src="./index_files/home.914fb9ec.js" type="text/javascript"></script>
    <script src="./index_files/bootstrap.min.js" type="text/javascript"></script>
    <script src="./index_files/main.3504185b.js" type="text/javascript"></script>
    <script src="./index_files/main.52155535.js" type="text/javascript"></script>

 
    @RenderSection("Scripts", required: false)
</body>
</html>