


    <header class="header-subpage">
        <div class="header-subpage-bg-img" style="background-image: url('img/iletisim/1.jpg'); background-position: top"></div>
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-12 header-subpage-title text-center">
                        <h1><span class="font-bold">İletişim</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
<div class="content">
    <section class="info p-90-0-90">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">

                        <div class="col-12 col-lg-3">
                            <div class="mail-box">
                                <h3 class="title">Telefon</h3>
                                <p class="description"><span class="__cf_email__" data-cfemail="a0d0d2c5d3d3e0d0c5c1cb8ec3cfcd">0 216 545 05 27</span></p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="mail-box">
                                <h3 class="title">Adres</h3>
                                <p class="description">
                                    <span class="__cf_email__" data-cfemail="5929382b2d373c2b2a3130292a19293c3832773a3634">
                                        Adres : 19 Mayıs Mah. Şemsettin günaltay cad.  NO:135 Kadıköy/İSTANBUL
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-lg-3">
                            <div class="mail-box">
                                <h3 class="title">Mail</h3>
                                <p class="description">
                                    <span class="__cf_email__" data-cfemail="5929382b2d373c2b2a3130292a19293c3832773a3634">
                                        info@egitimcikafasi.com
                                    </span>
                                </p>
                            </div>
                        </div>


                        @*<div class="col-12 col-lg-6">
                            <div class="mail-box">
                                <h3 class="title">  <a href="https://www.instagram.com/egitimcikafasi/" target="_blank"><i class="fab fa-instagram"></i></a> Instagram </h3>
                                <p class="description">
                            </div>
                        </div>*@



                    </div>
                </div>
            </div>
        </div>
    </section>
</div>








