


<header class="header-subpage">
    <div class="header-subpage-bg-img" style="background-image: url(https://peakweb.global.ssl.fastly.net/static/assets/backgrounds/contact.4c26d612.jpg); background-position: top"></div>
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-12 header-subpage-title text-center">
                    <h1><span class="font-bold">Bizi Seven Müşterilerimiz</span></h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="content">
    <section class="info p-90-0-90">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">


                        @*<img src="~/index_files/img/birey.png" />
                            <img src="~/index_files/img/cozum.png" />
                            <img src="~/index_files/img/cozumegitim.jpg" />
                            <img src="~/index_files/img/final.png" />
                            <img src="~/index_files/img/kultur.png" />
                            <img src="~/index_files/img/oguzfenbilimleri.png" />*@


                        <div class="col-12 col-lg-4">
                            <div style="background:#cccccc;height:80%; " class="mail-box">
                                <h3 class="title">
                                    <img style="width:100%;height:100px;" src="~/index_files/img/birey.png" />
                                </h3>
                                <p class="description">
                            </div>
                        </div>

                        <div class="col-12 col-lg-4">
                            <div style="background:#cccccc;height:80%; " class="mail-box">
                                <h3 class="title">
                                    <img style="width:100%;height:100px;" src="~/index_files/img/cozum.png" />
                                </h3>
                                <p class="description">
                            </div>
                        </div>

                        <div class="col-12 col-lg-4">
                            <div style="background:#cccccc;height:80%; " class="mail-box">
                                <h3 class="title">
                                    <img style="width:100%;height:100px;" src="~/index_files/img/cozumegitim.png" />
                                </h3>
                                <p class="description">
                            </div>
                        </div>

                        <div class="col-12 col-lg-4">
                            <div style="background:#cccccc;height:80%; " class="mail-box">
                                <h3 class="title">
                                    <img style="width:100%;height:100px;" src="~/index_files/img/final.png" />
                                </h3>
                                <p class="description">
                            </div>
                        </div>

                        <div class="col-12 col-lg-4">
                            <div style="background:#cccccc;height:80%; " class="mail-box">
                                <h3 class="title">
                                    <img style="width:100%;height:100px;" src="~/index_files/img/kultur.png" />
                                </h3>
                                <p class="description">
                            </div>
                        </div>

                        <div class="col-12 col-lg-4">
                            <div style="background:#cccccc;height:80%; " class="mail-box">
                                <h3 style="text-align:center;" class="title">
                                    <img style="width:40%;height:40%;" src="~/index_files/img/oguzfenbilimleri.png" />
                                </h3>
                                <p class="description">
                            </div>
                        </div>





                    </div>
                </div>
            </div>
        </div>
    </section>
</div>








