@{
    var _page = new ContentPage();

    if (_page != null)
    {
        _page = ViewBag.page as ContentPage;

    }


    var imageUrl = _page.Picture != null ? (SessionRequest.config.ImageUrl + _page.Picture.Link) : "";

    var url = Context.Request.Path.Value.ToStr().ToLower();
}

<main class="home">
    <div class="container">
        <section class="guides detail">
            <div class="img">
                <div class="title">@_page.Name</div>
                <img src="/assets/img/guide.png" alt="">
            </div>
            <div class="right">
                <div class="title">@_page.ContentShort</div>
                <div class="desc">
                    @Html.Raw(_page.ContentData)
                </div>

                @foreach (var item in _page.Documents.Where(o => o.Link.Contains(".jpg") && o.Link.Contains(".png") && o.Link.Contains(".jpeg")))
                {
                    <a target="_blank" href="/upload/@item.Link" class="download"><img src="/assets/img/file.svg" alt="">Dökümanı İndir</a>
                }

            </div>
        </section>
    </div>
</main>
