





<header class="header-subpage">
    <div class="header-subpage-bg-img" style="background-image: url(https://peakweb.global.ssl.fastly.net/static/assets/backgrounds/products.a72df3c8.jpg); background-position: top"></div>
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-12 header-subpage-title text-center">
                    <h1><span class="font-bold">Sosyal Medya</span></h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="content">




    <section id="id_instagram" class="info p-90-0-90 bg-white product">
        <div class="dots dots-left" style="width: 35%;"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <img src="~/index_files/img/instagram.jpg" class="d-block app-icon" alt="">
                </div>
                <div class="col-12 col-lg-7 info-text-area-right">
                    <h2 class="font-lighter secondary-color mb-30"><span class="font-bold">Instagram</span></h2>
                    <p class="description secondary-color mb-30">

                      <br/>  •	Kurumunuza ait fotoğrafları etiketlemek için kısa ve hatırlaması kolay bir #hashtag verin.
                      <br/>  •	Biliyorsunuz Instagram üzerinden link çıkışı yapılmıyor (bio hariç). İş yerinizdeki özel tekliflere, yarışmalara veya hediye fırsatlarına bağlantıları sadece Instagram Bio kısmına koyabiliyorsunuz.
                      <br/>  •	Hikaye kullanımına özen gösterin, hikayeler link verebilmek için mükemmel bir platformdur.
                      <br/>  •	Kurumunuzu pazarlamak kolay bir iş değildir. Biraz yaratıcılık, biraz tasarım, zekice bir metin işinizi çözecektir.
                      <br/>  •	Yüksek Kaliteli Resimler Kullanın. Takipçilerinizin zihnini kötü fotoğraflarla kirletip kurumunuzun o fotoğraflarla anılmasına izin vermeyin. Fotoğraflarınızın kalitesi kurumunuzun kalitesidir.
                      <br/>  •	Web sitenizin mobil anlamda kullanıcı deneyiminin üst seviyede olduğuna emin olun. İnstagram’dan göndereceğiniz trafiğin tümü mobil olacağı için bu kısım oldukça önemlidir.
                      <br/>  •	Takipçilerinize önemli kilometre taşlarını anlatın. Yeni ofis, yeni ekip elemanı, iş ilanı, yeni alınan iş, yeni tasarlanan ürün gibi. İnsanlar merak ediyor!


                    </p>
                </div>
            </div>
        </div>
    </section>




    <section id="id_face" class="info p-90-0-90 bg-white product">
        <div class="dots dots-left" style="width: 35%;"></div>
        <div class="container">
            <div class="row">

                <div class="col-12 col-lg-7 info-text-area-right">
                    <h2 class="font-lighter secondary-color mb-30"><span class="font-bold">Facebook</span></h2>
                    <p class="description secondary-color mb-30">


                      <br/>  •	Bildiğiniz gibi Facebook insanların sadece arkadaş bulduğu dönemleri çoktan geride bıraktı. Artık marka olarak Facebook’ta internet sitenize trafik sağlayabiliyor, ürünlerinizi ulaştırabileceğiniz size bağlı bir pazar yaratabiliyorsunuz. Bu nedenle Facebook, eğer bir girişimci iseniz pazarlama stratejinizde mutlaka olması gereken mecraların başında geliyor.
                      <br/>  •	Girişimcilik pazarında rekabet büyük, zaman az, kaynaklar ise sınırlıdır. Dolayısıyla girişimci tek başına her konuda işine fayda sağlayabilecek donanıma sahip olmalıdır. Bir girişimci markasını tanıtmak ve girişimini ayağa kaldırmak konusunda günümüzün en etkin araçlarından biri olan Facebook’u doğru kullanarak işletmesi için büyük avantaj elde edebilir.
                      <br/>  •	Facebook reklam yönetimi Instagramı da kapsadığı için iki mecranın reklamlarını buradan yönetebilirsiniz. Profesyonel  bir destekle düşük maliyetli reklamlar kazancınızı ciddi derecede etkileyecektir.


                    </p>
                </div>
                <div class="col-12 col-lg-5">
                    <img src="~/index_files/img/face.jpg" class="d-block app-icon" alt="Facebook Paketi">
                </div>
            </div>
        </div>
    </section>



    <section id="id_web" class="info p-90-0-90 bg-white product">
        <div class="dots dots-left" style="width: 35%;"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <img src="~/index_files/img/web.png" class="d-block app-icon" alt="">
                </div>
                <div class="col-12 col-lg-7 info-text-area-right">
                    <h2 class="font-lighter secondary-color mb-30"><span class="font-bold">Web Sitesi</span></h2>
                    <p class="description secondary-color mb-30">

                        Güncel ve kurumsal bilgilerle donatılmış modern çizgilere sahip bir web sitesi işletmeniz için olmazsa olmaz ihtiyaçlardandır. İşletmenizin önünden geçip tabelanızı gören insan sayısı yüzlerle belki de binlerle ifade ediliyordur ama web sitenizin ziyaret edilmesi ve özellikle insanların doyurucu içeriklere ve çeşitli bilgilere, kampanyalara ulaşabildiği bir web sitesi günlük olarak milyonla ifade edilebilecek etkileşime ulaşabilir. Web sitenize yeterince önem verdiğinizi düşünüyor musunuz? İçerikleriniz oluştururken Google aramalarında üst sıralarda yer alacak kelime ve kelime gruplarını seçebiliyor musunuz? Seo çalışmalarının da temelini oluşturan hedef kitleye ulaşabilmek web sitenizin yoğun trafik alabilmesi için hayati öneme sahip bir konudur.

                    </p>
                </div>
            </div>
        </div>
    </section>


    <section id="id_google" class="info p-90-0-90 bg-white product">
        <div class="dots dots-left" style="width: 35%;"></div>
        <div class="container">
            <div class="row">

                <div class="col-12 col-lg-7 info-text-area-right">
                    <h2 class="font-lighter secondary-color mb-30"><span class="font-bold">Google</span></h2>
                    <p class="description secondary-color mb-30">


                        İnternetten bir eşyayı araştırdıktan sonra farklı zamanlarda farklı internet sayfalarında bu eşyanın yeniden karşınıza çıktığı olmuştur size belli bir süre boyunca sürekli kendini hatırlatır. Hatta siz eşyayı alsanız da reklamlarında bir türlü kurtulamazsınız. İşte yapay zeka sizin tüm web alışkanlıklarınızdan elde ettiği veriyi size o ürünü satmak isteyen işletmelere yönlendirerek onun hedef kitlesi olduğunuzu ve size reklam göstererek satışına yardımcı olacağını söyler. Sizin işletmenizde müşterilere sunduğunuz ürünleri de her gün arayan yüzlerce hatta binlerce kişi vardır o halde bu insanlara yardımcı olalım ve ürününüzü onlara tanıtalım.

                    </p>
                </div>
                <div class="col-12 col-lg-5">
                    <img src="~/index_files/img/google.png" class="d-block app-icon" alt="">
                </div>
            </div>
        </div>
    </section>




</div>