
@{ Layout = null;}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<!-- Mirrored from CBMajans.com/Default.aspx by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 Jan 2020 14:18:20 GMT -->
<!-- Added by HTTrack --><!-- /Added by HTTrack -->
<!-- Mirrored from cbmajans.com/application/views/master/Default.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 28 Jan 2020 12:44:03 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
        Pink Ajans
    </title>
    <script>window.mod_pagespeed_start = Number(new Date());</script>
    <base />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <![endif]-->
    <base>
    <meta name="description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/animations.css" />
    <link rel="stylesheet" href="~/css/fonts.css" />
    <script src="~/js/modernizr-2.6.2.min.js"></script>

    <script src="~/js/compressed.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/general.js"></script>
    <!--[if lt IE 9]>
        <script src="js/vendor/html5shiv.min.js"></script>
        <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159928225-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-159928225-1');
    </script>

</head>
<body>


    <div class="preloader">
        <div class="preloader_image"></div>
    </div>

    <!-- search modal -->
    <div class="modal" tabindex="-1" id="search_modal">
        <div class="widget widget_search">
            <div class="searchform form-inline">
                <div class="form-group">
                    <input name="ctl00$txtSearch" type="text" id="txtSearch" class="form-control" placeholder="Aramak istediğinizi yazın..." />
                </div>
                <button type="submit" class="theme_button input_button">Ara</button>
            </div>
        </div>
    </div>



    <!-- wrappers for visual page editor and boxed version of template -->
    <div id="canvas">
        <div id="box_wrapper">

            <!-- template sections -->

            <section class="page_topline ds ms gorizontal_padding table_section">
                <div class="container-fluid with_border">
                    <div class="row">
                        <div class="col-sm-4 col-md-3 col-lg-2 text-xs-center text-left text-lg-right">
                            <a href="info@starajans.net">
                                <em>info@starajans.net</em>
                            </a>
                        </div>

                        <div class="col-sm-4 col-md-6 col-lg-8 text-center fontsize_20 bold">
                            <a href="/"><i class="rt-icon2-heart highlight"></i> Pink Ajans <i class="rt-icon2-heart highlight"></i></a>
                            <div class="page_social_icons hidden ">
                                <a class="social-icon color-icon soc-facebook" href="#" title="Facebook"></a>
                                <a class="social-icon color-icon soc-twitter" href="#" title="Twitter"></a>
                                <a class="social-icon color-icon soc-google" href="#" title="Google"></a>
                                <a class="social-icon color-icon soc-linkedin" href="#" title="LinkedIn"></a>
                                <a class="social-icon color-icon soc-pinterest" href="#" title="Pinterest"></a>
                            </div>
                        </div>

                        @*<div class="col-sm-4 col-md-3 col-lg-2 text-xs-center text-right text-lg-left">
                                <ul class="inline-dropdown inline-block">
                                    <li class="dropdown login-dropdown">
                                        <a class="topline-button" style="background-color:#e0006c; color:#fff;" href="/Members">
                                            <i class="rt-icon2-user"></i> Üyelik
                                        </a>

                                    </li>

                                </ul>
                            </div>*@

                    </div>
                </div>
            </section>

            <header class="page_header header_darkgrey columns_padding_0 table_section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 text-center">
                            <a href="/" class="logo logo_image">
                                <h1>
                                    Pink
                                    <span class="muellerhoff">Ajans</span>
                                </h1>

                            </a>
                        </div>
                        <div class="col-md-6 text-center">
                            <!-- main nav start -->
                            <nav class="mainmenu_wrapper">
                                <ul class="mainmenu nav sf-menu">
                                    <li>
                                        <a href="/kayit">ANASAYFA</a>
                                    </li>
                                    <li>
                                        <a href="/bayan-adaylar">KADIN ADAYLAR</a>
                                    </li>
                                    <li>
                                        <a href="/erkek-adaylar">ERKEK ADAYLAR</a>
                                    </li>
                                    <!-- contacts -->
                                    <li>
                                        <a href="/iletisim">İLETİŞİM</a>
                                    </li>
                                    <!-- eof contacts -->

                                </ul>
                            </nav>
                            <!-- eof main nav -->
                            <span class="toggle_menu">
                                <span></span>
                            </span>
                        </div>
                        <div class="col-md-3 col-sm-6 header-contacts text-center hidden-xs">
                            <div class="highlight inline-block fontsize_30 thin"></div>
                            <div class="fontsize_20 grey topmargin_-5"></div>
                        </div>
                    </div>
                </div>
            </header>

            @RenderBody()


            <section class="ds page_copyright section_padding_20 gorizontal_padding table_section">
                <div class="container-fluid">
                    <div class="row topmargin_10 bottommargin_10">
                        <div class="col-sm-6 text-center text-md-left">
                            <p class="darklinks">
                                &copy; Created with
                                <i class="rt-icon2-heart highlight"></i> by Pink Ajans
                            </p>
                        </div>
                        <div class="col-sm-6 text-center text-md-right">
                            <div class="size_small inline-block">
                                <i class="fa fa-cc-visa"></i>
                                <i class="fa fa-cc-discover"></i>
                                <i class="fa fa-cc-mastercard"></i>
                                <i class="fa fa-cc-amex"></i>
                                <i class="fa fa-cc-paypal"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <!-- eof #box_wrapper -->
    </div>
    <!-- eof #canvas -->




</body>
@RenderSection("Scripts", required: false)

<!-- Mirrored from CBMajans.com/Default.aspx by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 Jan 2020 14:21:01 GMT -->
<!-- Mirrored from cbmajans.com/application/views/master/Default.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 28 Jan 2020 12:44:03 GMT -->
</html>



