
<header class="header-subpage">
    <div class="header-subpage-bg-img" style="background-image: url(https://peakweb.global.ssl.fastly.net/static/assets/backgrounds/blog.4841f0ac.jpg); background-position: top"></div>
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-12 header-subpage-title text-center">
                    <h1><span class="font-bold">Biz Nasıl Çalışırız ?</span></h1>
                </div>
            </div>
        </div>
    </div>
</header>


<section class="blog-grid p-90-0-60">
    <div class="dots dots-bottom" style="top: 120px;"></div>
    <div class="container">
        <div class="row">


            <div class="col-12 col-lg-4">
                <a href="#id_biz_1" class="clickable-card">
                    <div class="card blog-card">
                        <img src="https://peakweb.global.ssl.fastly.net/static/assets/blog/blog-marketing-2.46ca62e2.jpg" class="card-img-top" alt="Marketing - Part 2">
                        <div style="min-height:250px !important;" class="card-body">
                            <h3 class="card-title">

                                1.	İşe Kurumsal Veri Analizi İle Başlarız

                            </h3>
                            <p class="card-text">

                                Önce elimizde neler olduğuna bir bakarız. İyi yanlarınız, eksikleriniz, hedefleriniz üzerine çalışırız.

                            </p>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-12 col-lg-4">
                <a href="#id_biz_2" class="clickable-card">
                    <div class="card blog-card">
                        <img src="https://peakweb.global.ssl.fastly.net/static/assets/blog/blog-marketing-1.5378e2b9.jpg" class="card-img-top" alt="Marketing - Part 1">
                        <div style="min-height:250px !important;" class="card-body">
                            <h3 class="card-title">

                                2.	Dijital Medya Alt Yapısını Oluşturmak

                            </h3>
                            <p class="card-text">

                                İnternet ağı üzerinde tek bir kanalda olmak işi yarım bırakmak anlamına gelir. Birçok kanalda olmalı ve sürekli kendinizi hatırlatmalısınız.

                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-12 col-lg-4">
                <a href="#id_biz_3" class="clickable-card">
                    <div class="card blog-card">
                        <img src="https://peakweb.global.ssl.fastly.net/static/assets/blog/blog-cloud-platform.b89d4913.jpg" class="card-img-top" alt="Cloud Platform">
                        <div style="min-height:250px !important;" class="card-body">
                            <h3 class="card-title">
                                3.	PLATFORMLAR OLUŞTURMAK
                            </h3>
                            <p class="card-text">
                                Sosyal medya denince akla gelen iki büyük ağ var. Facebook ve İnstagram her ne kadar kolay gibi görünse de kendi kendinize sınırlı bir takipçiyle yapılan paylaşımlar yeterince kişiye ulaşmadığı için genellikle yeni müşteri kazandırmada etkili olmaz.

                            </p>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-12 col-lg-4">
                <a href="#id_biz_4" class="clickable-card">
                    <div class="card blog-card">
                        <img src="https://peakweb.global.ssl.fastly.net/static/assets/blog/blog-product.0c72fd36.jpg" class="card-img-top" alt="Product">
                        <div style="min-height:250px !important;" class="card-body">
                            <h3 class="card-title">

                                4.	PLATFORMLARI GÜNCEL TUTMAK

                            </h3>
                            <p class="card-text">

                                Büyük bir iştahla hazırladığınız web siteleri, sosyal medya hesapları kim bilir en son ne zaman güncellendi!

                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-12 col-lg-4">
                <a href="#id_biz_5" class="clickable-card">
                    <div style="min-height:250px !important;" class="card blog-card">
                        <img src="https://peakweb.global.ssl.fastly.net/static/assets/blog/blog-marketing-2.46ca62e2.jpg" class="card-img-top" alt="Marketing - Part 2">
                        <div style="min-height:250px !important;" class="card-body">
                            <h3 class="card-title">
                                5.	KAMPANYA OLUŞTURMA
                            </h3>
                            <p class="card-text">
                                Eğitimci Kafası Eğitimcilerden oluşan bir ekiptir diye yeri geldikçe söyledik. Biz en iyi bildiğimiz işle, buraya kadar okuduğunuz işi en iyi bilenleri bir araya getiren bir topluluğuz. Size önerilerimiz olacak! En önemli işimiz kayıt almak. O halde gelin kampanyalardan konuşalım
                            </p>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-12 col-lg-4">
                <a href="#id_biz_6" class="clickable-card">
                    <div style="min-height:250px !important;" class="card blog-card">
                        <img src="https://peakweb.global.ssl.fastly.net/static/assets/blog/blog-customer-experience.72e3352d.jpg" class="card-img-top" alt="Customer Experience">
                        <div style="min-height:250px !important;" class="card-body">
                            <h3 class="card-title">
                                NEDEN EĞİTİMCİ KAFASI

                            </h3>
                            <p class="card-text">

                                Eğitimcilerden oluşan Türkiye’nin ilk ve tek “Eğitim Reklam Ajansı” olduğu için
                            </p>
                        </div>
                    </div>
                </a>
            </div>


        </div>
    </div>
</section>









<section id="id_biz" class="blog-grid p-90-0-60">
    <div class="dots dots-bottom" style="top: 120px;"></div>
    <div class="container">
        <div class="row">

            <div id="id_biz_1" class="col-12 col-lg-12">
                <a href="javascript:;" class="clickable-card">
                    <div class="card blog-card">
                        @* <img src="https://peakweb.global.ssl.fastly.net/static/assets/blog/blog-marketing-2.46ca62e2.jpg" class="card-img-top" alt="Marketing - Part 2">*@
                        <div class="card-body">
                            <h3 class="card-title">

                                1.	İşe Kurumsal Veri Analizi İle Başlarız

                            </h3>
                            <p class="card-text">

                                Önce elimizde neler olduğuna bir bakarız. İyi yanlarınız, eksikleriniz, hedefleriniz üzerine çalışırız.
                                <hr />
                                Her işletme elinde insanların karşılığında para ödeyeceği bir “değer” olduğuna
                                inanır. Eğitim işinde bu değerin en önemli öznesi çocuklarımızdır. Uyguladığımız
                                eğitim ise değerin ta kendisidir. Öyleyse İşletmenizin elindeki bu değeri nasıl
                                sunduğuna bakarak yola çıkarız. Kurumunuzda neyi iyi yapıyorsunuz? Bu sorunun
                                cevabını bulmamız çok önemli! İyi yaptığınıza inandığınız bu şey halihazırdaki
                                müşterileriniz haricinde diğer insanlara da ulaşıyor mu? Kurumunuz hakkında bir
                                farkındalık yaratabildiniz mi? Örneğin şu cümleyi hiç duydunuz mu: Benim bir
                                çocuğum yok ama bir kursa gönderecek olsam şu kursa gönderirdim; çünkü iyi eğitim
                                verdiklerini duydum.
                                Hedefimizi bu cümleyi duymak olarak belirledik; çünkü gelmiş geçmiş en iyi reklam
                                yöntemi ağızdan ağıza yayılan reklamdır ki yukarıdaki örnekte reklama büyük bütçeler
                                harcamadan küçük dokunuşlar ve hatırlatmalarla sizin reklam neferiniz gibi çalışacak
                                bir pazarlamacıya sahip olursunuz.
                                Peki nasıl? İşte cevabını bulmak için aramaya başlamalısınız. Sizin için bunu yapacak
                                bir ekip kurduk. Hem de Eğitimci Kafası’nda
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div id="id_biz_2" class="col-12 col-lg-12">
                <a href="javascript:;" class="clickable-card">
                    <div class="card blog-card">
                        @*  <img src="https://peakweb.global.ssl.fastly.net/static/assets/blog/blog-marketing-1.5378e2b9.jpg" class="card-img-top" alt="Marketing - Part 1">*@
                        <div class="card-body">
                            <h3 class="card-title">

                                2.	Dijital Medya Alt Yapısını Oluşturmak

                            </h3>
                            <p class="card-text">

                                İnternet ağı üzerinde tek bir kanalda olmak işi yarım bırakmak anlamına gelir. Birçok kanalda olmalı ve sürekli kendinizi hatırlatmalısınız.
                                <hr />
                                Eksiklerin tespiti tamamlandıktan sonra işin web ayağında nasıl bir
                                kurumsallık algısı yaratılmalı sorusu gelir ki bu sizin işletmenize özgü bir hazırlık
                                olmalıdır. Kimse bir başkasının platformundan taşınmış içerikle müşterisine hitap
                                etmek istemez şöyle düşünün aynı ürünle ilgili iki reklam gördünüz ve ikisi de görsel
                                açıdan birebir aynı ama reklam veren kurumlardan birinin daha kurumsal olduğunu
                                web sitesinden ya da verdiği bir hizmetten dolayı biliyorsunuz. Diğeri sizin için kötü
                                bir taklitten öteye geçemez ve müşteri alacağı ürünün sizde daha ucuz olduğunu bilse
                                bile diğer kurumdan almayı tercih edecektir. Çünkü alışılmış bir söz der ki taklitler
                                aslını yaşatır.
                                O halde sizin için oluşturulacak digital medya platformları sizin kurumunuza özgü
                                çizgiler taşımalı ve benzersiz olmalıdır. Kurumsal kimlik çalışmak günümüzde moda
                                ancak sizin ihtiyacınız dijital bir kurumsal kimlik oluşturmak, bunu küçük bir çalışma

                                sonrası size sunuyoruz böylece benzersiz bir digital medya platformuna
                                kavuşuyorsunuz.
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div id="id_biz_3" class="col-12 col-lg-12">
                <a href="javascript:;" class="clickable-card">
                    <div class="card blog-card">
                        @*<img src="https://peakweb.global.ssl.fastly.net/static/assets/blog/blog-cloud-platform.b89d4913.jpg" class="card-img-top" alt="Cloud Platform">*@
                        <div class="card-body">
                            <h3 class="card-title">
                                3.	PLATFORMLAR OLUŞTURMAK
                            </h3>
                            <p class="card-text">
                                Sosyal medya denince akla gelen iki büyük ağ var. Facebook ve İnstagram her ne kadar kolay gibi görünse de kendi kendinize sınırlı bir takipçiyle yapılan paylaşımlar yeterince kişiye ulaşmadığı için genellikle yeni müşteri kazandırmada etkili olmaz.
                                <hr />
                                Sosyal medyanızı baştan tasarlıyoruz. İşletmenize has çizgilerle ve size has bir
                                üslupla içerikler oluşturuyoruz. Bunu yaparken amacımız sadece var olan
                                takipçilerinizi etkilemek değil elbette daha önce dikkatini çekemediğiniz insanlar
                                üzerinde size karşı ilgi uyandıran bir etki yaratmak.
                                Facebook ve İnstagram hesaplarınızı aynı anda birlikte ele alıyor ve birbiriyle
                                bağlantılı olacak şekilde işletiyoruz. Bu size daha fazla kullanıcıya ulaşma imkanı
                                sağladığı gibi birini kullanıp diğerini kullanmayan kitleye de ulaşmayı sağlıyor.
                                Haftalık rutin paylaşımlar her defasında yeni ve ilgi çekici içeriklerle takipçilerinize ya
                                da sizden haberdar olmak isteyenlere farklı deneyimler sunuyoruz. İşimizin eğitim
                                olduğunu unutmadan, paylaşılacak içeriklerin hassasiyetini ve bağlayıcılığını bilerek
                                hazırlıyoruz tüm bu içerikleri ve bu sebepten eğitim kurumlarının reklam ve
                                pazarlama süreçlerinde eğitimcilerle çalışması gerektiğine inanıyoruz. Mevzuatı
                                bilmeyen bir reklam ajansının başınızı ne kadar derde sokacağını da biliyoruz.
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div id="id_biz_4" class="col-12 col-lg-12">
                <a href="javascript:;" class="clickable-card">
                    <div class="card blog-card">
                        @*<img src="https://peakweb.global.ssl.fastly.net/static/assets/blog/blog-product.0c72fd36.jpg" class="card-img-top" alt="Product">*@
                        <div class="card-body">
                            <h3 class="card-title">

                                4.	PLATFORMLARI GÜNCEL TUTMAK

                            </h3>
                            <p class="card-text">

                                Büyük bir iştahla hazırladığınız web siteleri, sosyal medya hesapları kim bilir en son ne zaman güncellendi!
                                <hr />
                                Hepimizin en çok ihtiyaç duyduğu şeydir zaman. Keşke kendimden bir tane
                                daha olsa da ona da şu işi versem dediğimiz olmuştur. Web sitenizi ve sosyal
                                medyanızı güncel tutmak hayati öneme sahip bir konudur aslında ama nedendir
                                bilinmez işe başlarkenki heyecan kaybolur ve güzelim web siteleri internetin çöp
                                kutusuna atılır. Her işte olduğu gibi internet aleminde de istikrar önemlidir. Web
                                siteniz belli aralıklarla ama sık sık güncellenmeli hiç değilse içindeki içerikler
                                değiştirilmeli ve sayfanızın alt köşesinde bu bilgi kullanıcılarla da paylaşılmalıdır.
                                Böylece sitenizi inceleyenler en son ne zaman güncellendiğini görecek ve sayfanızda
                                yazanların şu an geçerli olduğunu bileceklerdir. Bir de canlı destek alt yapınız varsa
                                potansiyel müşteri adayları sizi kendileri bulacak ve sorularına cevap aldıkça satışın ilk
                                kuralı olan bağ kurma işlemi gerçekleşmiş olacaktır.
                                Eğitimci Kafası bu konuda inanılmaz bir vurdumduymazlık olduğunun farkında ve o
                                güzelim sitelerin canlı tutulması gerekliliğinin sayısız faydası olduğun da…

                                O halde web sitenizi oluşturduktan sonra bırakın onu yaşatalım hem vaktiniz size
                                kalsın hem de yorulmadan müşterileriniz siz bulsun.
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div id="id_biz_5" class="col-12 col-lg-12">
                <a href="javascript:;" class="clickable-card">
                    <div class="card blog-card">
                        @*<img src="https://peakweb.global.ssl.fastly.net/static/assets/blog/blog-marketing-2.46ca62e2.jpg" class="card-img-top" alt="Marketing - Part 2">*@
                        <div class="card-body">
                            <h3 class="card-title">
                                5.	KAMPANYA OLUŞTURMA
                            </h3>
                            <p class="card-text">
                                Eğitimci Kafası Eğitimcilerden oluşan bir ekiptir diye yeri geldikçe söyledik. Biz en iyi bildiğimiz işle, buraya kadar okuduğunuz işi en iyi bilenleri bir araya getiren bir topluluğuz. Size önerilerimiz olacak! En önemli işimiz kayıt almak. O halde gelin kampanyalardan konuşalım
                                <hr />
                                Kayıt 12 ay süren bir süreçtir her ne kadar azaldığı dönemler olsa da. Bizler
                                eğitim başlamadan önceki son aylara göre değil de eğitim başladıktan hemen sonra
                                gelecek yılı düşünerek geçiririz günlerimizi. Ama ne yapmak lazım sorusu hep
                                önümüzde durur ve diğer sezona neredeyse 12 vardır öyleyse 12 aya 12 kampanya
                                sloganıyla çıkalım yola.
                                Her aya bir kampanya işletmenizi canlı tutar ve sirkülasyonun devam etmesini sağlar.
                                Bazen ekim de yaptığınız kampanyanın sonuçlarını ocak ayında alırsınız bazen de
                                hazirana sarkar bu sonuç ama asla etkisiz değildir. Bir tomurcuk attınız mı zihinlere
                                gün gelir yeşerir o tomurcuk serpilip büyür.
                                Geniş kitlelere ulaşabileceğimiz araçlarımızı oluşturduk, web sitemiz, sosyal
                                medyamız tıkır tıkır işliyor ve günden güne takipçi sayımızda artıyor. Artık bir soruya
                                cevap verirken web sitemize girerek daha fazla bilgiye sahip olabilirsiniz demekten
                                çekinmiyoruz çünkü biliyoruz ki web sitemiz güncel ve hatasız çalışıyor. Ya da
                                kampanyalarımızdan haberdar olmak için sosyal medyadan bizi takip edin demek
                                broşür ve kartvizitlerimizde hesaplarımızın adlarını yazmak artık düşündürmüyor.
                                Her şey tamamsa artık strateji geliştirmeye hazırız demektir. Küçük dokunuşlarla
                                kampanyalar oluşturup kurumunuza yeni insanlar çekmeye başlayabiliriz. İşin bu
                                kısmı biraz tecrübe biraz bilgi içerir ve elbette bunu sıradan bir reklam ajansından çok
                                eğitimci kafasında düşünen birileri yapabilir. Kampanyaları oluşturmakta serbestiniz
                                sizi müşteriye ulaştıracak olan bizleriz ve dilerseniz size önerilerde bulunabiliriz.
                                Üstelik bunun için bir bedel talep etmiyoruz!
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div id="id_biz_6" class="col-12 col-lg-12">
                <a href="javascript:;" class="clickable-card">
                    <div class="card blog-card">
                        @* <img src="https://peakweb.global.ssl.fastly.net/static/assets/blog/blog-customer-experience.72e3352d.jpg" class="card-img-top" alt="Customer Experience">*@
                        <div class="card-body">
                            <h3 class="card-title">
                                NEDEN EĞİTİMCİ KAFASI

                            </h3>
                            <p class="card-text">

                                Eğitimcilerden oluşan Türkiye’nin ilk ve tek “Eğitim Reklam Ajansı” olduğu için<hr />

                                <hr />
                                Hiçbir reklam ajansı kurumların veli toplantısı yapmasının bir nedeninin de o
                                günkü tahsilatı artırmak olduğunu bilmez değil mi? Sosyal medyadan bir veli
                                toplantısı duyurusu yayınlayalım demeyecektir bu yüzden ve güzel bir toplantı
                                çağrısının paylaşıldığında ciddi etkileşim getireceğinden de habersizdir. Öyleyse sözün
                                özü “Eğitimci Kafası “zaman bulamadığınız ya da teknik olarak hakim olmadığınız

                                internet ortamında sizin adınıza sizin gibi düşünerek çalışan bir eğitim ajansıdır. Ve
                                görünen o ki bu hepimiz için büyük bir ihtiyaçtır.
                        </div>
                    </div>
                </a>
            </div>


        </div>
    </div>
</section>





