
<header class="header-subpage">
    <div class="header-subpage-bg-img" style="background-image: url(https://peakweb.global.ssl.fastly.net/static/assets/backgrounds/blog.4841f0ac.jpg); background-position: top"></div>
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-12 header-subpage-title text-center">
                    <h1><span class="font-bold">Biz Nasıl Çalışırız ?</span></h1>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="blog-grid p-90-0-60">
    <div class="dots dots-bottom" style="top: 120px;"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <a href="https://peak.com/how-we-work/big-data" class="clickable-card">
                    <div class="card blog-card">
                        <img src="https://peakweb.global.ssl.fastly.net/static/assets/blog/blog-big-data.1064d43b.jpg" class="card-img-top" alt="Big Data &amp; Business Intelligence">
                        <div class="card-body">
                            <h3 class="card-title">Big Data &amp; Business Intelligence</h3>
                            <p class="card-text">Improving user engagement is our number one priority while developing...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-4">
                <a href="https://peak.com/how-we-work/marketing-1" class="clickable-card">
                    <div class="card blog-card">
                        <img src="https://peakweb.global.ssl.fastly.net/static/assets/blog/blog-marketing-1.5378e2b9.jpg" class="card-img-top" alt="Marketing - Part 1">
                        <div class="card-body">
                            <h3 class="card-title">Marketing - Part 1</h3>
                            <p class="card-text">Having a world class mobile app is not enough to stand out from the...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-4">
                <a href="https://peak.com/how-we-work/cloud-platform" class="clickable-card">
                    <div class="card blog-card">
                        <img src="https://peakweb.global.ssl.fastly.net/static/assets/blog/blog-cloud-platform.b89d4913.jpg" class="card-img-top" alt="Cloud Platform">
                        <div class="card-body">
                            <h3 class="card-title">Cloud Platform</h3>
                            <p class="card-text">Our Cloud Platform team has a lofty goal. Take a product that works...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-4">
                <a href="https://peak.com/how-we-work/product" class="clickable-card">
                    <div class="card blog-card">
                        <img src="https://peakweb.global.ssl.fastly.net/static/assets/blog/blog-product.0c72fd36.jpg" class="card-img-top" alt="Product">
                        <div class="card-body">
                            <h3 class="card-title">Product</h3>
                            <p class="card-text">At we aim to develop the best games for our users that will...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-4">
                <a href="https://peak.com/how-we-work/marketing-2" class="clickable-card">
                    <div class="card blog-card">
                        <img src="https://peakweb.global.ssl.fastly.net/static/assets/blog/blog-marketing-2.46ca62e2.jpg" class="card-img-top" alt="Marketing - Part 2">
                        <div class="card-body">
                            <h3 class="card-title">Marketing - Part 2</h3>
                            <p class="card-text">This is the story of first-ever performance marketing campaign...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-4">
                <a href="https://peak.com/how-we-work/customer-experience" class="clickable-card">
                    <div class="card blog-card">
                        <img src="https://peakweb.global.ssl.fastly.net/static/assets/blog/blog-customer-experience.72e3352d.jpg" class="card-img-top" alt="Customer Experience">
                        <div class="card-body">
                            <h3 class="card-title">Customer Experience</h3>
                            <p class="card-text">Customer Experience is the only division at that directly...</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>





