
<header class="video-wrapper">
    <div class="video-loader" style="display: none;">
        <i class="fas fa-circle-notch fa-spin"></i>
    </div>
    <video id="header-video" class="b-lazy b-loaded" playsinline="" autoplay="" muted="" loop="" src="https://peakweb.global.ssl.fastly.net/video.mp4">
    </video>
    <div class="overlay">
        <div class="container">
            <div class="main-title text-center">
                <h1 class="font-lighter mb-90">Her etkileşim <span class="font-bold"> iletişim</span> ile <br>başlar</h1>
                <div class="hb">
                    <a href="#top-info" class="discover-now button button-filled">Şimdi Keşfet <i class="fas fa-chevron-down"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="top-info" class="info p-90-0-90">
    <div class="dots dots-right"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 order-last order-lg-first col-lg-5">
                <h2 style="font-size: 44px;" class="font-lighter secondary-color mb-30">Herkes için <span class="font-bold">Instagram</span></h2>
                <p class="description secondary-color mb-30">
                    Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                </p>
                <a href="/" class="button button-filled">Nasıl yönetİyoruz<i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="col-12 order-first order-lg-last col-lg-7 info-carousel">
                <div id="home-carousel-1" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item" data-interval="3000">
                            <img src="./index_files/home-about-1.5d1fe7df.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item active" data-interval="3000">
                            <img src="./index_files/home-about-2.6d5aa3be.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#" role="button" data-slide="prev">
                        <i class="fas fa-chevron-left"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#" role="button" data-slide="next">
                        <i class="fas fa-chevron-right"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="info p-90-0-90 bg-white">
    <div class="dots dots-left"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7 info-carousel">
                <div id="home-carousel-2" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item" data-interval="3000">
                            <img src="./index_files/home-life-1.ee0063ba.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item active" data-interval="3000">
                            <img src="./index_files/home-life-2.752e4798.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-interval="3000">
                            <img src="./index_files/home-life-3.792a8a44.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="/#home-carousel-2" role="button" data-slide="prev">
                        <i class="fas fa-chevron-left"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="/#home-carousel-2" role="button" data-slide="next">
                        <i class="fas fa-chevron-right"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-5 info-text-area-right">
                <h2 style="font-size: 44px;" class="font-lighter secondary-color mb-30">Herkes için <span class="font-bold">Facebook</span></h2>
                <p class="description secondary-color mb-30">
                    Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                </p>
                <a href="/life" class="button button-filled">HADİ İNCELE<i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</section>

<section id="top-info" class="info p-90-0-90">
    <div class="dots dots-right"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 order-last order-lg-first col-lg-5">
                <h2 style="font-size: 40px;" class="font-lighter secondary-color mb-30">Çözüm için <span class="font-bold">WebSitesi</span></h2>
                <p class="description secondary-color mb-30">
                    Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                </p>
                <a href="/" class="button button-filled">Nasıl yönetİyoruz<i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="col-12 order-first order-lg-last col-lg-7 info-carousel">
                <div id="home-carousel-1" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item" data-interval="3000">
                            <img src="./index_files/home-about-1.5d1fe7df.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item active" data-interval="3000">
                            <img src="./index_files/home-about-2.6d5aa3be.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#" role="button" data-slide="prev">
                        <i class="fas fa-chevron-left"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#" role="button" data-slide="next">
                        <i class="fas fa-chevron-right"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="info p-90-0-90 bg-white">
    <div class="dots dots-left"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7 info-carousel">
                <div id="home-carousel-3" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active carousel-item-left" data-interval="3000">
                            <img src="./index_files/home-product-1.f0dbe861.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item carousel-item-next carousel-item-left" data-interval="3000">
                            <img src="./index_files/home-product-2.b02a3f98.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="/#home-carousel-3" role="button" data-slide="prev">
                        <i class="fas fa-chevron-left"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="/#home-carousel-3" role="button" data-slide="next">
                        <i class="fas fa-chevron-right"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-5 info-text-area-right">
                <h2 class="font-lighter secondary-color mb-30">Sizin için <span class="font-bold">Google</span></h2>
                <p class="description secondary-color mb-30">The products we build are ever-evolving and continue to reach more and more users all around the world. Operating on a global scale requires focus, dedication and a great team.</p>
                <a href="/products" class="button button-filled">ANALİZ ET <i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</section>


<section class="career parallax-window" data-parallax="scroll" data-image-src="https://peakweb.global.ssl.fastly.net/static/assets/backgrounds/home-jobs.42785058.jpg">
    <div class="overlay p-90-0-90">
        <div class="container">
            <div class="row mb-60">
                <div class="col-12 col-lg-6">
                    <div class="section-title text-left text-lg-left">
                        <h2 class="font-lighter color-white mb-30"><span class="font-bold">Kısa</span> Bilgiler</h2>
                    </div>
                </div>
            </div>
            <div class="career-carousel mb-60">
                <div class="swiper-container swiper-container-horizontal" style="cursor: grab;">
                    <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                        <div class="swiper-slide swiper-slide-active" style="width: 316px; margin-right: 30px;">
                            <a href="/open-positions/software-engineer-mobile-games" class="clickable-card">
                            </a><div class="card career-card">
                                <a href="/open-positions/software-engineer-mobile-games" class="clickable-card">
                                    <div class="card-header align-items-center">
                                        <h5>Software Engineer, Mobile - Games</h5>
                                        <div class="line"></div>
                                    </div>
                                    <div class="card-body">
                                        <p>
                                            We are looking for a Mobile Software Engineer to join our Engineering Team. Together with your team you will be crafting code that brings to life game features, items and levels in our games which are enjoyed by a community of 40 million active users each month. This scale comes along with very interesting engineering challenges which we are solving together, using a technology-agnostic approach. Alongside with our game we are growing as software engineers and as a team.
                                        </p>
                                    </div>
                                </a><div class="card-footer">
                                    <a href="/open-positions/software-engineer-mobile-games" class="clickable-card">
                                    </a><a href="/open-positions/software-engineer-mobile-games" class="button button-link">Apply <i class="fas fa-check"></i></a>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide swiper-slide-next" style="width: 316px; margin-right: 30px;">
                            <a href="/open-positions/software-engineer-android-stealth-product" class="clickable-card">
                            </a><div class="card career-card">
                                <a href="/open-positions/software-engineer-android-stealth-product" class="clickable-card">
                                    <div class="card-header align-items-center">
                                        <h5>Software Engineer, Android - Stealth Product</h5>
                                        <div class="line"></div>
                                    </div>
                                    <div class="card-body">
                                        <p>
                                            We’re a small and tight-knit team that is working on a completely new project within  that utilizes AI at its core.
                                            At , we put progress and creating impact at the core of our existence, and as a team we all strive for this goal relentlessly. As such, we have formed a new team within  that will try to tackle impossible problems by first becoming a team and then learning and progressing continuously.
                                            We are looking for an Android Engineer to join our newly formed team.
                                        </p>
                                    </div>
                                </a><div class="card-footer">
                                    <a href="/open-positions/software-engineer-android-stealth-product" class="clickable-card">
                                    </a><a href="/open-positions/software-engineer-android-stealth-product" class="button button-link">Apply <i class="fas fa-check"></i></a>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide" style="width: 316px; margin-right: 30px;">
                            <a href="/open-positions/marketing-specialist" class="clickable-card">
                            </a><div class="card career-card">
                                <a href="/open-positions/marketing-specialist" class="clickable-card">
                                    <div class="card-header align-items-center">
                                        <h5>Marketing Specialist</h5>
                                        <div class="line"></div>
                                    </div>
                                    <div class="card-body">
                                        <p>
                                            At , we are reaching hundreds of millions of users with our products. Marketing Team is at the core of developing and implementing marketing strategies in order to create impact and reach even more users.
                                            We’re looking for Marketing Specialists to join our rapidly growing team. Managing and optimizing marketing campaigns of our products on all performance channels, you will leverage your analytical skills, understanding of business drivers and ability to interpret and manipulate data to obtain high-quality actionable insights. You will team up with Marketing Artists to come up with creative plans by combining a data-driven approach and strong creative skills.
                                            Learn more about how we work in Marketing here!
                                        </p>
                                    </div>
                                </a><div class="card-footer">
                                    <a href="/open-positions/marketing-specialist" class="clickable-card">
                                    </a><a href="/open-positions/marketing-specialist" class="button button-link">Apply <i class="fas fa-check"></i></a>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide" style="width: 316px; margin-right: 30px;">
                            <a href="/open-positions/marketing-artist" class="clickable-card">
                            </a><div class="card career-card">
                                <a href="/open-positions/marketing-artist" class="clickable-card">
                                    <div class="card-header align-items-center">
                                        <h5>Marketing Artist</h5>
                                        <div class="line"></div>
                                    </div>
                                    <div class="card-body">
                                        <p>
                                            We are delighted to be part of millions of users’ daily life. We are looking for Marketing Artists to join our in-house Marketing Team to reach even more people and tell them about our products.
                                            Marketing Artist produces high-end marketing creatives, which help us improve our marketing efforts and find new engaged users. Following the latest technologies, tools and trends very closely, we are always seeking new ways to communicate with people. We have the courage to try and learn things that have never been done before and explore the edges.
                                        </p>
                                    </div>
                                </a><div class="card-footer">
                                    <a href="/open-positions/marketing-artist" class="clickable-card">
                                    </a><a href="/open-positions/marketing-artist" class="button button-link">Apply <i class="fas fa-check"></i></a>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide" style="width: 316px; margin-right: 30px;">
                            <a href="/open-positions/ui-designer" class="clickable-card">
                            </a><div class="card career-card">
                                <a href="/open-positions/ui-designer" class="clickable-card">
                                    <div class="card-header align-items-center">
                                        <h5>UI Designer</h5>
                                        <div class="line"></div>
                                    </div>
                                    <div class="card-body">
                                        <p>
                                            Are you passionate about gaming and want gamers everywhere to enjoy your work? If so, we’ve got something in common! We are thrilled to be able to create mobile games which are enjoyed by millions around the world. We’re looking to expand our team and this could be the opportunity you’ve been looking for to join a dynamic company and leave your mark on the world of gaming.&nbsp;
                                            As a UI Designer, you will be involved in all aspects of the game development circle, executing all UI design stages from initial concept to the final hand-off to engineering. You’ll cooperate with product designers, artists and engineers to define and implement innovative solutions for the improvement of product directions, visuals, and experience.
                                            As one of the key members of the team, you will create a smooth, functional, intuitive, and entertaining user experience for our games.
                                        </p>
                                    </div>
                                </a><div class="card-footer">
                                    <a href="/open-positions/ui-designer" class="clickable-card">
                                    </a><a href="/open-positions/ui-designer" class="button button-link">Apply <i class="fas fa-check"></i></a>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide" style="width: 316px; margin-right: 30px;">
                            <a href="/jobs" class="clickable-card">
                                <div class="card career-card career-card-all">
                                    <div class="card-body">
                                        <h3>Hepsini<br>İncele</h3>
                                        <i class="fas fa-chevron-circle-right"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>
            <a href="/#" class="career-carousel-control career-control-left swiper-button-disabled" role="button" tabindex="0" aria-label="Previous slide" aria-disabled="true">
                <span><i class="fas fa-chevron-left"></i></span>
                <span class="sr-only">Previous</span>
            </a>
            <a href="/#" class="career-carousel-control career-control-right" role="button" tabindex="0" aria-label="Next slide" aria-disabled="false">
                <span><i class="fas fa-chevron-right"></i></span>
                <span class="sr-only">Next</span>
            </a>
            <div class="row">
                <a href="/jobs" class="button button-filled margin-auto">HEPSİNİ İNCELE<i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</section>


<section class="latest-posts p-90-0-90">
    <div class="dots dots-right"></div>
    <div class="container">
        <div class="section-title mb-60">
            <h2 class="font-lighter secondary-color mb-30">Nasıl <span class="font-bold"> Çalışıyoruz ?</span></h2>
        </div>
        <div class="row mb-30">
            <div class="col-12 col-lg-4">
                <a href="/how-we-work/big-data" class="clickable-card">
                    <div class="card blog-card">
                        <img src="./index_files/blog-big-data.1064d43b.jpg" class="card-img-top" alt="Big Data &amp; Business Intelligence">
                        <div class="card-body">
                            <h3 class="card-title">Big Data &amp; Business Intelligence</h3>
                            <p class="card-text">Improving user engagement is our number one priority while developing...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-4">
                <a href="/how-we-work/marketing-1" class="clickable-card">
                    <div class="card blog-card">
                        <img src="./index_files/blog-marketing-1.5378e2b9.jpg" class="card-img-top" alt="Marketing - Part 1">
                        <div class="card-body">
                            <h3 class="card-title">Marketing - Part 1</h3>
                            <p class="card-text">Having a world class mobile app is not enough to stand out from the...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-4">
                <a href="/how-we-work/cloud-platform" class="clickable-card">
                    <div class="card blog-card">
                        <img src="./index_files/blog-cloud-platform.b89d4913.jpg" class="card-img-top" alt="Cloud Platform">
                        <div class="card-body">
                            <h3 class="card-title">Cloud Platform</h3>
                            <p class="card-text">Our Cloud Platform team has a lofty goal. Take a product that works...</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row text-center">
            <a href="/how-we-work" class="button button-filled" style="margin: 0 auto;">HEPSİNİ GÖR<i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
</section>
