





<header class="header-subpage">
    <div class="header-subpage-bg-img" style="background-image: url(https://peakweb.global.ssl.fastly.net/static/assets/backgrounds/products.a72df3c8.jpg); background-position: top"></div>
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-12 header-subpage-title text-center">
                    <h1><span class="font-bold">Paketlerimiz</span></h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="content">




    <section class="info p-90-0-90 bg-white product">
        <div class="dots dots-left" style="width: 35%;"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <img src="~/index_files/img/social2.png" class="d-block app-icon" alt="Instagram Paketi">
                </div>
                <div class="col-12 col-lg-7 info-text-area-right">
                    <h2 class="font-lighter secondary-color mb-30"><span class="font-bold">SOSYAL MEDYA PAKETİ</span></h2>
                    <p class="description secondary-color mb-30">

                        Başlangıç paketi de diyebileceğimiz “SOSYAL MEDYA PAKETİ”nde işletmenize ait Facebook ve
                        İnstagram hesabı profesyonel olarak yönetilir. Hesaplarınızda belirli aralıklarla görsel ve
                        içerik paylaşımları yapılır. İçerikler üç ana başlıkta oluşturulur: Bilgi içeren ve takipçiler için
                        faydalı paylaşımlar, eğlenceli ve dikkat çekici paylaşımlar, işletmenizle ilgili çeşitli bilgiler
                        haberler ve duyurular içeren paylaşımlar.
                    </p>
                </div>

            </div>
        </div>
    </section>





    <section class="info p-90-0-90 bg-white product">
        <div class="dots dots-left" style="width: 35%;"></div>
        <div class="container">
            <div class="row">

                <div class="col-12 col-lg-7 info-text-area-right">
                    <h2 class="font-lighter secondary-color mb-30">
                    <span class="font-bold">PRO EĞİTİMCİ PAKETİ</span></h2>
                    <p class="description secondary-color mb-30">

                        İşletmenize ait Sosyal Medya Hesapları ve Web Siteniz aynı anda birlikte tasarlanır ve aktif
                        hale getirilir. Tüm içerikler uzman ekibimiz tarafından kurum standartlarına göre
                        hazırlandıktan sonra haftalık güncellemelerle kurumunuz web üzerinde devamlı aktif kalır.
                        PRO EĞİTİMCİ PAKETİ müşteri kazandırma potansiyeli yüksek bir yapıda tüm sistemleriniz
                        birbiriyle entegre çalışacak şekilde tasarlanır. Size işletmenizi internet üzerinden takip etmek
                        kalır.

                    </p>
                </div>
                <div class="col-12 col-lg-5">
                    <img style="" src="~/index_files/img/social.png" class="d-block app-icon" alt="PRO EĞİTİMCİ PAKETİ">
                </div>
            </div>
        </div>
    </section>

    <section class="info p-90-0-90 bg-white product">
        <div class="dots dots-left" style="width: 35%;"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <img style="" src="~/index_files/img/other.png" class="d-block app-icon" alt="Instagram Paketi">
                </div>
                <div class="col-12 col-lg-7 info-text-area-right">
                    <h2 class="font-lighter secondary-color mb-30"><span class="font-bold">DİĞER HİZMETLER</span></h2>
                    <p class="description secondary-color mb-30">

                        İşletmenizin hedef kitlenize ulaşması için yazılımcı ve sosyal medya uzmanı ekibimiz
                        tarafından bilinen ve uygulanan birçok yöntem vardır. EĞİTİMCİ KAFASI tüm bu çalışmaları
                        Eğitimcilerden oluşan metin yazarları ve işletmeci bakış açısıyla kurumunuza özgü hale
                        getirerek Google Addvords, Web tabanlı reklam çözümleri , Sosyal Medya Reklam çözümleri
                        gibi alanlarda işletmenizin ihtiyacına uygun fikirler sunmakta ve size yeni müşteriler
                        kazandırmayı hedeflemektedir. Bu minvalde düşünülmüş diğer proje ve çözümlerimiz için
                        bizimle irtibata geçebilirsiniz.

                    </p>
                </div>

            </div>
        </div>
    </section>




</div>