<partial name="../OgrenciSozlesmeOdemeTablosu/InsertOrUpdatePage" />

@{
    string pageTitle_OgrenciSozlesmeOdemeTablosu = "Ödeme Tablosu";
    string control_Name_OgrenciSozlesmeOdemeTablosu = "OgrenciSozlesmeOdemeTablosu";
    int OgrenciSozlesmeOdemeTablosu_idUrl = Context.Request.Query["id"].ToInt();

}

<script type="text/javascript">
    var control_Name_OgrenciSozlesmeOdemeTablosu = "@control_Name_OgrenciSozlesmeOdemeTablosu";
    var dt_OgrenciSozlesmeOdemeTablosu = "#dt_" + control_Name_OgrenciSozlesmeOdemeTablosu;
    var  OgrenciSozlesmeOdemeTablosu_idUrl = "@OgrenciSozlesmeOdemeTablosu_idUrl";
</script>



<!-- begin:: OgrenciSozlesmeOdemeTablosu -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">

    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    @Html.Raw(pageTitle_OgrenciSozlesmeOdemeTablosu)
                </h3>
            </div>
           
        </div>

        <div class="kt-portlet__body">
            <table id="dt_@control_Name_OgrenciSozlesmeOdemeTablosu" class="table table-striped- table-bordered table-hover table-checkable">
                <thead>
                    <tr>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<!-- end:: OgrenciSozlesmeOdemeTablosu -->



<script type="text/javascript">
    var OgrenciSozlesmeOdemeTablosu_ListFunc;
    $(function () {
        OgrenciSozlesmeOdemeTablosu_ListFunc = {
            load: function () {
                OgrenciSozlesmeOdemeTablosu_ListFunc.GetPaging();

            },

            GetPaging: function () {

                var columns = [];
                columns.push({ "data": "OgrenciAd", text: "Öğrenci" });
                columns.push({ "data": "Tutar", text: "Tutar" });
                columns.push({ "data": "PesinatTarih", text: "PesinatTarih" });

                columns.push({ "data": "Detail", text: "İşlemler" });

                $.each(columns, function (i, item) {
                    $(dt_OgrenciSozlesmeOdemeTablosu + ' thead tr').append('<td>' + item.text + '</td>');
                });


                var table = $(dt_OgrenciSozlesmeOdemeTablosu).DataTable({
                    "ajax": {
                        "url": '/' + control_Name_OgrenciSozlesmeOdemeTablosu + '/GetPaging',
                        "type": "POST",
                        "datatype": "json",
                        "data": function (searchModel) {
                            $(dt_OgrenciSozlesmeOdemeTablosu).LoadingOverlay("show");
                            searchModel.pagingSearchParam = 'Tutar';

                            //searchModel.searchModel.OgrenciSozlesmeId = OgrenciSozlesmeOdemeTablosu_idUrl;

                        },
                        "dataSrc": function (json) {
                            return_data = new Array();
                            var data = json.data;

                            $.each(data, function (i, row) {

                                var Detail = "";
                                Detail += '<a class="btn btn-sm btn-clean btn-icon btn-icon-md" target="_blank" href ="/' + control_Name_OgrenciSozlesmeOdemeTablosu + '/InsertOrUpdatePage?id=' + row.Id + '"  title="Düzenle" > ' + '<i class="la la-edit"></i>' + ' </a > ';
                                Detail += '<a class="btn btn-sm btn-clean btn-icon btn-icon-md btnDelete" dataid="' + row.Id + '" title="Sil" > ' + '<i class="la la-remove"></i>' + '  </a>';



                                return_data.push({
                                    'OgrenciAd': row.OgrenciSozlesme.OgrenciDetay.Ogrenci.Name + ' ' + row.OgrenciSozlesme.OgrenciDetay.Ogrenci.Surname,
                                    'Tutar': row.Tutar,
                                    'PesinatTarih': row.PesinatTarih,

                                    'Detail': Detail,
                                })

                            });
                            return return_data;
                        }
                    },
                    "fnDrawCallback": function (settings, json) {
                        $(dt_OgrenciSozlesmeOdemeTablosu + ' .btnDelete').click(function () {
                            var dataid = $(this).attr("dataid");
                            alerts("Silinsin mi ?", "yesno", function (result) {
                                if (result == true) {
                                    $(dt_OgrenciSozlesmeOdemeTablosu).LoadingOverlay("show");
                                    $.ajx('/' + control_Name_OgrenciSozlesmeOdemeTablosu + "/Delete", { id: dataid }, function (resultData) {
                                        if (resultData && resultData.IsDeleted) {
                                            table.ajax.reload();
                                        }
                                        else {
                                            alerts(resultData.ResultType.MessageList[0]);
                                        }
                                        $(dt_OgrenciSozlesmeOdemeTablosu).LoadingOverlay("hide");
                                    });
                                }
                            });
                        });

                        $('.dt-buttons').css('float', 'right');
                        $('.dt-buttons').css('margin-left', '20px');
                        $('.dt-buttons').css('margin-top', '16px');

                        $(dt_OgrenciSozlesmeOdemeTablosu).LoadingOverlay("hide");
                        ayarlar();
                    },
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json",
                    },
                    "dom": 'lBfrtip',
                    "buttons": ['copy', 'csv', 'excel', 'pdf'],
                    "destroy": true,
                    "caseInsensitive": true,
                    "serverSide": true,
                    "responsive": true,
                    "pageLength": 100,
                    "DisplayLength": 100,
                    "lengthMenu": [[100, 250, 500, 1000, 2500, 5000], [100, 250, 500, 1000, 2500, 5000]],
                    "lengthChange": true,
                    "processing": true,
                    "columnDefs": [
                        //{ "orderable": false, "targets": [0, 1] },
                    ],
                    "columns": columns,

                });

            },


        }
        OgrenciSozlesmeOdemeTablosu_ListFunc.load();

    });


</script>
