

<section class="ds page_models models_square gorizontal_padding section_padding_80 columns_padding_0">
    <div class="container-fluid">

        <div class="isotope_container isotope row masonry-layout bottommargin_20" data-filters=".isotope_filters">


            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134881750431327.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/107.html">Satı TÜTÜNCÜ</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134881750431327.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>41</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,59</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>55</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134880283392777.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/106.html">Özlem NUR</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134880283392777.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>39</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,72</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>59</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134879513238266.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/105.html">Neslihan kaya</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134879513238266.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>38</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,68</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>59</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134878440587046.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/104.html">Negin DALGA</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134878440587046.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>40</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,62</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>56</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134876306052988.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/103.html">Nazlı GÜNEŞ</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134876306052988.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>45</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,60</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>62</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Ela</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134874971984741.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/102.html">Nagihan ALÇI</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134874971984741.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>39</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1.76</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>57</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Yeşil</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Sarı</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134873001043069.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/101.html">Meltem GÖZÜAÇIK</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134873001043069.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>45</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,58</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>60</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134870670106445.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/100.html">Melek ALEV</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134870670106445.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>42</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,68</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>56</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134869786049518.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/99.html">İrem ALIMLI</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134869786049518.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>42</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,65</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>57</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134868811210982.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/98.html">Hasret GÜL</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134868811210982.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>41</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,63</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>62</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Ela</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Sarı</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134866000747922.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/97.html">Gamze ATİK</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134866000747922.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>38</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,70</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>59</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Ela</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Sarı</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134864651066069.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/96.html">Esra GAMZELİ</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134864651066069.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>41</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,62</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>60</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134863877786018.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/95.html">Ela KOCA</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134863877786018.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>43</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,67</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>58</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134863168567583.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/94.html">Çiğdem ERDEM</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134863168567583.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>46</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,60</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>52</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134862425755171.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/93.html">Çağla CEYLAN</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134862425755171.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>43</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,65</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>50</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Ela</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Sarı</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134861442150084.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/92.html">Cansel ASLAN</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134861442150084.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>42</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,59</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>57</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134849708408766.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/91.html">Canan GÜNEŞ</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134849708408766.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>46</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1.63</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>53</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134847421519658.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/90.html">Buse ERDOĞAN</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134847421519658.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>49</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,70</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>60</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Sarı</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134817286668152.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/89.html">Burcu ALIMLI</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134817286668152.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>46</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,58</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>52</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134816463072049.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/88.html">Berna SÜSLÜ</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134816463072049.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>45</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,60</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>58</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Sarı</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134712362066905.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/87.html">Azra FENER</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134712362066905.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>49</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,61</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>59</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134710509887700.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/86.html">Ayten KAYA</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134710509887700.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>42</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,58</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>55</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134708555827916.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/85.html">Aybike GÜL</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134708555827916.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>45</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,65</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>60</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Ela</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134707797231399.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/84.html">atiye YILDIRIM</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134707797231399.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>40</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,56</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>60</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134659584640224.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/83.html">Eda KİŞİ</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134659584640224.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>40</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,69</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>59</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134658950434401.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/82.html">Cansu UMUT</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134658950434401.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>47</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,55</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>55</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Ela</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Sarı</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134658079640233.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/81.html">aslı GÜNDÜZ</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134658079640233.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>47</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,62</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>57</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134657169483950.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/80.html">Alev KOÇAK</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134657169483950.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>45</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,65</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>55</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Sarı</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637134656551359077.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/79.html">ahu tuğba</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637134656551359077.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>42</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1,61</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>59</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637132687930218240.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/78.html">eylül KARA</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637132687930218240.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>39</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1.60</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>56</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637132682840890533.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/77.html">emine koşucu</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637132682840890533.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>47</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1.56</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>58</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637132674978782713.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/76.html">deniz YILDIRIM</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637132674978782713.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>46</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1.64</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>59</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Sarı</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637130517217337107.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/75.html">Cansu YAVUZER</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637130517217337107.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>46</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1.65</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>62</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637130512304039751.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/74.html">Yaren ERDOĞAN</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637130512304039751.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>45</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1.66</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>62</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637130504973582408.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/73.html">Gül ÇELİK</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637130504973582408.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>42</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1.73</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>54</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637130496461083257.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/72.html">Leyla ÇAKIR</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637130496461083257.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>43</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1.65</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>57</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Ela</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637130499807033975.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/71.html">serpil BAKIR</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637130499807033975.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>47</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1.56</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>60</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Ela</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637130493491542262.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/70.html">Sultan SÜSLÜ</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637130493491542262.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>52</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1.63</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>56</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637130470042343390.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/69.html">Ceren TAŞCI</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637130470042343390.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>49</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1.67</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>50</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637130466904822267.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/68.html">Zeynep ÖNAL</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637130466904822267.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>45</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1.57</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>55</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637130299847409900.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/67.html">Merve KOCABAŞ</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637130299847409900.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>46</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1.76</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>63</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Sarı</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637130296903332660.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/66.html">Sevda SONKAN</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637130296903332660.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>42</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1.76</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>62</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Sarı</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637130286863588733.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/65.html">Hülya KUŞCU</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637130286863588733.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>43</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1.82</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>73</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637130281694541111.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/64.html">Özlem BUDAK</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637130281694541111.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>45</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1.73</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>59</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637130278602654161.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/63.html">Esin ERTÜRK</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637130278602654161.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>43</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1.79</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>78</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Siyah</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637130272470460419.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/62.html">Tuba ERKOÇ</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637130272470460419.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>44</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1.66</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>62</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Yeşil</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Sarı</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637130265823256506.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/61.html">Hülya DEMİRKOL</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637130265823256506.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>44</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span>1.73</span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span>67</span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span>Kahverengi</span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span>Sarı</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                <div class="vertical-item content-absolute">
                    <div class="item-media">
                        <img src="~/images/637127147610277044.jpg" alt="">
                        <div class="media-links">
                        </div>
                    </div>
                    <div class="item-content text-center before_cover cs">
                        <div class="links-wrap">
                            <a class="p-link" title="" href="Member-Detail/47.html">Emel TAŞCI</a>
                            <a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637127147610277044.jpg"></a>
                        </div>
                        <div class="bg_overlay"></div>
                        <div class="model-parameters">
                            <div>
                                <span class="bold">Yaş</span>
                                <br>
                                <span>49</span>
                            </div>
                            <div>
                                <span class="bold">Boy</span>
                                <br>
                                <span></span>
                            </div>
                            <div>
                                <span class="bold">Kilo</span>
                                <br>
                                <span></span>
                            </div>
                            <div>
                                <span class="bold">Göz</span>
                                <br>
                                <span></span>
                            </div>
                            <div>
                                <span class="bold">Saç</span>
                                <br>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

