@{ Layout = null;}


<!DOCTYPE html>
<html>

<!-- Mirrored from cbmajans.com/application/views/master/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 28 Jan 2020 12:44:04 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pink Ajans</title>
    <script>window.mod_pagespeed_start = Number(new Date());</script>
    <base />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159928225-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-159928225-1');
    </script>


    <style>
        body {
            color: #fff;
        }

        @@media only screen and (min-width : 320px) {
            #bg {
                padding-top: 25%;
            }
        }

        /* Extra Small Devices, Phones */
        @@media only screen and (min-width : 480px) {
            #bg {
                padding-top: 20%;
            }
        }

        /* Small Devices, Tablets */
        @@media only screen and (min-width : 768px) {
            #bg {
                padding-top: 15%;
            }
        }

        /* Medium Devices, Desktops */
        @@media only screen and (min-width : 992px) {
            #bg {
                padding-top: 10%;
            }
        }

        /* Large Devices, Wide Screens */
        @@media only screen and (min-width : 1200px) {
            #bg {
                padding-top: 15%;
            }

            #mytext {
                font-size: 18px;
            }
        }
    </style>
</head>
<body style="background-image:url(images/bg.jpg)">
    <div class="container" id="bg">
        <div class="row">
            <div class="col-sm-12 text-center" id="mytext">
                <h2>Pink Ajans</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center" id="mytext">Web sitemize girmek için yaş sınırı gerekmektedir, lütfen yaşınızı doğrulayınız.</div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-xs-6" style="text-align:right"><a href="/" class="btn btn-danger">18 yaşından küçüğüm</a></div>
            <div class="col-xs-6" style="text-align:left"><a href="/kayit" class="btn btn-success">18 yaşından büyüğüm</a></div>
        </div>
    </div>
    <script>
        function closeWindow() {
            window.open('', '_parent', '');
            window.close();
        }
    </script>
    
</body>

<!-- Mirrored from ctbajans.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 Jan 2020 14:18:13 GMT -->
<!-- Mirrored from cbmajans.com/application/views/master/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 28 Jan 2020 12:44:04 GMT -->
</html>
