
    <section class="ds page_models models_square gorizontal_padding section_padding_80 columns_padding_0">
				<div class="container-fluid">

					<div class="isotope_container isotope row masonry-layout bottommargin_20" data-filters=".isotope_filters">

                         
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/656.html">mesut</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>28</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/655.html">Muray</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>41</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/654.html">Ahmet cevik</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>28</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span>188</span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span>110</span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span>Kahverengi</span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span>Kahverengi</span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/648.html">Selim eser</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>30</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/644.html">Ateş aydın</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>26</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/643.html">Cemal kaya </a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>20</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/642.html">Şevket seven </a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>38</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/641.html">Nebi</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>56</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/640.html">Mutlu</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>24</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/639.html">Mücahit keleş </a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>21</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/638.html">Mehmet Gündü </a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>22</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/637.html">Osman</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>43</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/636.html">Ufuk</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>40</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/635.html">İshak Kanat</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>29</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/633.html">Muhammet Sait MUSAOĞLU </a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>21</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/631.html">Abdurrahman cansın </a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>21</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/627.html">Yusuf Atakan şahin</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>23</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/626.html">Mehmet</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>40</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/619.html">Devran mujdeci</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>19</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/617.html">Doruk yenılmez</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>21</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/616.html">bedrettin polat</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>23</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/611.html">Ali Kılıç </a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>28</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/610.html">ÇAĞLAR</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>30</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/609.html">Levet  yaman</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>50</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/607.html">YAVER POLAT </a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>45</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/606.html">Özcan can</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>23</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/604.html">Murat cetin</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>38</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/602.html">Cengiz  muta</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>40</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/600.html">Mustafa</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>35</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/595.html">Cafer arig</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>35</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/594.html">Cafer</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>35</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/584.html">Murat önem</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>41</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/566.html">Raşit dede</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>36</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/564.html">Polat igci</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>32</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/563.html">Kenan Şahim</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>36</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/562.html">fatih emre pehlivanoğlu</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>20</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/560.html">Baran bozkurt</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>18</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/559.html">Mevlüt yalçın</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>25</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/558.html">Mehmet çağatekin</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>25</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/557.html">Mehmet ali ateş</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>30</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/553.html">Naim Can Özdemir </a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>19</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/552.html">Adem Şirin </a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>28</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/546.html">Ahmet Ertekin</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>20</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/544.html">Emre Can Şeyhoğlu </a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>18</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/541.html">Ali korkmaz</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>22</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/540.html">Mehmet sarıkaya</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>35</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/539.html">Ahmet</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>42</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/637129797392028016.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/60.html">Mehmet Sarı</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637129797392028016.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>36</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span>1.85</span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span>80</span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span>Kahverengi</span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span>Siyah</span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/637130275777955084.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/58.html">Hazım DOĞANER</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/637130275777955084.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>34</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span>1.73</span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span>74</span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span>Siyah</span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span>Siyah</span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/57.html">Fırat ÇALIK</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>21</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/56.html">Okan KURT</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>26</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/55.html">Gökmen GORMEZ</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>24</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/54.html">İbrahim AÇIKGÖZ</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>45</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/53.html">Haşim KARABULUT</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>37</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/52.html">Faruk YAHYALI</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>29</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/51.html">Mustafa KARABATAK</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>41</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/50.html">ayşe fatma</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>41</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
						<div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
							<div class="vertical-item content-absolute">
								<div class="item-media">
									<img src="~/images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg" alt="">
									<div class="media-links">
									</div>
								</div>
								<div class="item-content text-center before_cover cs">
									<div class="links-wrap">
										<a class="p-link" title="" href="Member-Detail/48.html">Mustafa KARABATAK</a>
										<a class="p-view prettyPhoto pull-right" title="" data-gal="prettyPhoto[gal]" href="images/b4910a12-6fe9-43b0-8e88-4d5ed21ab1b8-m.jpg"></a>
									</div>
									<div class="bg_overlay"></div>
									<div class="model-parameters">
										<div>
											<span class="bold">Yaş</span>
											<br>
											<span>41</span>
										</div>
										<div>
											<span class="bold">Boy</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Kilo</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Göz</span>
											<br>
											<span></span>
										</div>
										<div>
											<span class="bold">Saç</span>
											<br>
											<span></span>
										</div>
									</div>
								</div>
							</div>
						</div>
                                
					</div>
				</div>
			</section>
