

<section id="comingsoon1" class="ds ms section_padding_top_20 section_padding_bottom_100">
    <div class="container">

        <div class="row">
            <div class="col-sm-5">

                <h3 class="highlight2 pull-right">Giriş</h3>
                <div class="clearfix"></div>
                <div id="ContentPlaceHolder1_UpdatePanel1">

                    <div id="ContentPlaceHolder1_Panel1" onkeypress="javascript:return WebForm_FireDefaultButton(event, &#39;ContentPlaceHolder1_btnLogin&#39;)">

                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-3">E-Mail Adresi</label>
                                <div class="col-sm-9">
                                    <input name="ctl00$ContentPlaceHolder1$txtLEmail" type="text" id="ContentPlaceHolder1_txtLEmail" class="form-control" AutoComplete="off" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Şifre</label>
                                <div class="col-sm-9">
                                    <input name="ctl00$ContentPlaceHolder1$txtLPass" type="text" id="ContentPlaceHolder1_txtLPass" class="form-control" AutoComplete="off" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="submit" name="ctl00$ContentPlaceHolder1$btnLogin" value="Giriş Yap" id="ContentPlaceHolder1_btnLogin" class="theme_button color1 pull-right" />
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <h3 class="highlight2 pull-right">Şifremi Unuttum</h3>
                <div class="clearfix"></div>
                <div id="ContentPlaceHolder1_UpdatePanel2">

                    <div id="ContentPlaceHolder1_Panel2" onkeypress="javascript:return WebForm_FireDefaultButton(event, &#39;ContentPlaceHolder1_btnSendPassword&#39;)">

                        <div class="form-horizontal">
                            <p>Kayıt olurken vermiş olduğunuz e-mail adresini giriniz.</p>
                            <div class="form-group">
                                <label class="control-label col-sm-3">E-Mail Adresi</label>
                                <div class="col-sm-9">
                                    <input name="ctl00$ContentPlaceHolder1$txtForgotPassEmail" type="text" id="ContentPlaceHolder1_txtForgotPassEmail" class="form-control" AutoComplete="off" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="submit" name="ctl00$ContentPlaceHolder1$btnSendPassword" value="Gönder" id="ContentPlaceHolder1_btnSendPassword" class="theme_button color1 pull-right" />
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="col-sm-7">

                <h3 class="highlight2 pull-right">
                    Kayıt Ol
                </h3>
                <div class="clearfix"></div>
                <div id="ContentPlaceHolder1_Panel3" onkeypress="javascript:return WebForm_FireDefaultButton(event, &#39;ContentPlaceHolder1_btnSave&#39;)">

                    <div class="form-horizontal">
                        <div id="ContentPlaceHolder1_UpdatePanel3">

                            <div class="form-group">
                                <label class="control-label col-sm-3">Ad Soyad</label>
                                <div class="col-sm-9">
                                    <input name="ctl00$ContentPlaceHolder1$txtNameSurnameR" type="text" id="ContentPlaceHolder1_txtNameSurnameR" class="form-control" AutoComplete="off" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">Yaşınız</label>
                                <div class="col-sm-3">
                                    <input name="ctl00$ContentPlaceHolder1$txtDateR" type="text" id="ContentPlaceHolder1_txtDateR" class="form-control" AutoComplete="off" />
                                </div>
                                <label class="control-label col-sm-3">Şehir</label>
                                <div class="col-sm-3">
                                    <input name="ctl00$ContentPlaceHolder1$txtCity" type="text" id="ContentPlaceHolder1_txtCity" class="form-control" AutoComplete="off" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">Telefon</label>
                                <div class="col-sm-3">
                                    <input name="ctl00$ContentPlaceHolder1$txtPhone" type="text" id="ContentPlaceHolder1_txtPhone" class="form-control" AutoComplete="off" />
                                </div>
                                <label class="control-label col-sm-3">Cinsiyet</label>
                                <div class="col-sm-3">
                                    <select name="ctl00$ContentPlaceHolder1$rdSex" id="ContentPlaceHolder1_rdSex" class="form-control">
                                        <option value="0">Se&#231;iniz</option>
                                        <option value="1">Erkek</option>
                                        <option value="2">Kadın</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Görüşme yapmaya hazır mısınız?</label>
                                <div class="col-sm-9">
                                    <input name="ctl00$ContentPlaceHolder1$txtNote" type="text" id="ContentPlaceHolder1_txtNote" class="form-control" AutoComplete="off" />
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="submit" name="ctl00$ContentPlaceHolder1$btnSave" value="Kaydet" id="ContentPlaceHolder1_btnSave" class="theme_button color1 pull-right" />
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
