@{
    var edit = ViewBag.edit as Kiyafet;
    if (edit == null)
        edit = new Kiyafet();
}
@Html.Raw(edit.DynamicInput("",
                        "", "", "Kıyafet", "page", "col-md-4", "col-md-8", "col-md-6",
                       "<div class='form-group row float-md-right'><div class='col-md-offset-9 col-md-9'>" +
                       "<input type='submit' value='" + "Kaydet" + "' " +
                       "class='btn btn-brand btn-elevate btn-icon-sm' /></div></div>"
                       ))

