<header class="header-subpage">
    <div class="header-subpage-bg-img" style="background-image: url(https://peakweb.global.ssl.fastly.net/static/assets/backgrounds/about-us.b9d29060.jpg); background-position: top"></div>
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-12 header-subpage-title text-center">
                    <h1>
                        <span class="font-bold">
                            Türkiye’de İnternet Kullanım ve Sosyal Medya İstatistikleri
                        </span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>


<section class="info p-90-0-90 bg-white">
    <div class="dots dots-right"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 order-last order-lg-first col-lg-12">
                @*<h2 class="font-lighter mb-30">Yolculuk <span class="font-bold">Sürecimiz</span></h2>*@
                <p class="description mb-30">

                    <br />     We are social ve Hootsuit tarafından her yıl hazırlanan İnternet ve sosyal medya istatistikleri “Digital 2019 in Turkey” ismiyle yayınlandı. Özellikle dijital pazarlama uzmanları ve sosyal medya uzmanlarını çok ilgilendirecek/bilgilendirecek altın değerinde bilgiler var. Bakalım Türkiye’de 2019 sosyal medya istatistikleri gelişimi nasıl olmuş. Yazının temel başlıkları şöyledir:
                    <br />     1.	Türkiye’deki Dijital Dünyaya Genel Bakış
                    <br />     2.	Türkiye’de İnternet Kullanım İstatistikleri 2019
                    <br />     3.	Türkiye’de Sosyal Medya Kullanım İstatistikleri 2019
                    <br />     Şimdiden keyifli okumalar dilerim. Hadi başlayalım.
                    <br />     1. Türkiye’deki Dijital Dünyaya Genel Bakış
                    <br />     82,4 milyon nüfusa sahip ülkemizde;
                    <br />     •	Nüfusun %72’sini oluşturan 59.36 milyon İnternet kullanıcısı
                    <br />     •	Nüfusun %63’ünü oluşturan 52 milyon aktif sosyal medya kullanıcısı
                    <br />     •	Nüfusun %53’ünü oluşturan 44 milyon aktif mobil sosyal medya kullanıcısı var.

                    <hr /><img style="width: 100% !important;" src="~/img/1.jpg" />
                    2019-We-Are-Social-Türkiye-İnternet-Sosyal-Medya-ve-Mobil-Kullanıcı-İstatistikleri
                    <hr />


                    <br />     Türkiye’deki yıllık dijital değişim istatistiklerine baktığımızda da;
                    <br />     •	İnternet kullanım istatistiklerinde, internet kullanıcılarının %9, yani 5 milyonluk bir artış görüyoruz. (59.3 milyon internet kullanıcısı)
                    <br />     •	Aktif sosyal medya kullanıcı sayısının da 2 milyonluk bir artış gerçekleşmiş. (52 milyon aktif sosyal medya kullanıcısı)
                    <br />     •	Aktif mobil sosyal medya kullanıcı sayısı ise geçen yılla aynı kullanıcı sayısına sahip.

                    <hr /><img style="width: 100% !important;" src="~/img/2.jpg" />
                    We Are Social 2019 Türkiye Yıllık Dijital Değişim İstatistikleri
                    <hr />

                    <br />     Şimdi de 2019 yılında Türkiye’de elektronik cihaz kullanımına bakalım.
                    <br />     •	Yetişkin insanların %98’i cep telefonu kullanırken, bunların %77’si akıllı telefon kullanıyor.
                    <br />     •	Masaüstü bilgisayar veya laptop kullananların oranı %48 iken, tablet kullananların oranı %25
                    <br />     •	Neredeyse herkesin televizyonu var   oranı %99.
                    <br />     •	Giyilebilir teknoloji ürünleri kullananların oranı ise %9 olarak hesaplanmış.

                    <hr /><img style="width: 100% !important;" src="~/img/3.jpg" />
                    We Are Social 2019 Türkiye Elektronik Cihaz Kullanım İstatistikleri
                    <hr />

                    <br />     İnsanlar internette günde ortalama 7 saat geçiriyorlar. Peki bu kullanıcılarımız en çok nerelerde vakit harcıyorlar:
                    <br />     •	Günde ortalama 2 saat 46 dk sosyal medyada
                    <br />     •	Günde ortalama 3 saat 9 dk televizyon başında
                    <br />     •	Ve son olarak günde ortalama 1 saat 15 dk müzik dinleyerek

                    <hr /><img style="width: 100% !important;" src="~/img/4.jpg" />
                    We Are Social 2019 Türkiye’de Medyada Harcanan Zaman İstatistikleri
                    <hr />

                    <br />     2. Türkiye’de İnternet Kullanım İstatistikleri 2019
                    <br />     Bir de hemen internet kullanım istatistiklerine kısaca bir bakalım.
                    <br />     Türkiye’de, nüfusun %72‘sine tekabül eden 59,3 Milyon internet kullanıcısı var ve bunların 56,3 Milyonu telefonlarından internete bağlanıyorlar.

                    <hr /><img style="width: 100% !important;" src="~/img/5.jpg" />
                    We Are Social 2019 Türkiye’de İnternet Kullanımı İstatistikleri
                    <hr />


                    <br />     3. Türkiye’de Sosyal Medya Kullanımı İstatistikleri 2019
                    <br />     Şimdi de Türkiye’deki sosyal medya kullanım istatistiklerine bakalım. Rapora göre Türkiye’de toplam 52 milyon sosyal medya kullanıcısı var ve bu kullanıcıların 44 milyonu mobil cihazlar ile sosyal medyaya bağlanıyorlar. Görüldüğü gibi en aktif sosyal medya platformu Youtube. Onu hemen Instagram ve Facebook takip ediyor. Geçen yıla göre Instagram’ın Facebook’u geçtiğini görüyoruz.
                    <br />     Ardından Twitter, Snapchat ve LinkedIn en çok kullanılan diğer sosyal medya platformları olarak karşımıza çıkıyor.

                    <hr /><img style="width: 100% !important;" src="~/img/6.jpg" />
                    We-Are-Social-2019-Türkiyede-En-Çok-Kullanılan-Sosyal-Medya-Platformları-İstatistikleri 2019
                    <hr />



                    <br />     Her ne kadar Linkedin ve Pinterest ülkemizde daha az popüler olsa da, özel bir kitleyi barındırması açısından dijital pazarlamacıların planlarında bulundurmaları gereken sosyal medyaplatformlarından.

                    <hr /><img style="width: 100% !important;" src="~/img/7.jpg" />
                    We Are Social 2019 Türkiye Sosyal Medya Kullanıcı Sayıları
                    <hr />



                    <br />     Türkiye’de en çok kullanılan sosyal medya platformlarının kullanıcı sayılarına ve cinsiyet dağılımı bu sene ilk defa bu raporda yer aldı. Detaylara geçecek olursak;
                    <br />     •	Facebook‘un 43 milyon kullanıcı bulunmakta ve erkeklerin daha fazla kullandığı bir platform olduğunu görüyoruz. ( Geçen yıla göre Facebook kullanıcı sayısında %2,3’lük azalma yaşanmıştır )
                    <br />     •	Instagram’ın 38 milyon kullanıcı bulunmakta ve Facebook gibi yine erkeklerin daha fazla kullandığı bir platform.  ( Geçen yıla göre Instagram kullanıcı sayısında %2,7’lik artış yaşanmıştır )
                    <br />     •	Twitter ülkemizde 9 milyon kullanıcıya sahip ve her 10 kişiden 8’i erkek! ( Geçen yıla göre Twitter kullanıcı sayısında %1,9’luk artış yaşanmıştır )
                    <br />     •	Kadınların daha fazla kullandığı platform olan Snapchat‘in ise ülkemizde 6.3 milyon kullanıcısı bulunuyor. ( Geçen yıla göre Snapchat kullanıcı sayısında %26 oranında ciddi bir azalma söz konusu)
                    <br />     •	LinkedIn yine erkeklerin daha yoğun olarak kullandığı bir platform ve 7.3 milyonluk kullanıcı sayısına sahip. ( Geçen yıla göre LinkedIn kullanıcı sayısında %5,8’lik artış yaşanmıştır )
                    <br />     Yüzdelik olarak Snapchat‘in en fazla kullanıcı kaybeden, LinkedIn‘in en çok kullanıcı kazanan platform olduğunu belirtmekte fayda var

                    <hr /><img style="width: 100% !important;" src="~/img/10.jpg" />
                    We-Are-Social-2019-Türkiye-Sosyal-Medya-Kullanıcı-Sayıları-Yıllık-Büyüme-Oranları 2019
                    <hr />


                    <hr /><img style="width: 100% !important;" src="~/img/11.jpg" />
                    We Are Social 2019 Türkiye Sosyal Medya Kullanıcılarının Yaş Dağılımı
                    <hr />


                    <br />     2019 Türkiye sosyal medya kullanıcılarının cinsiyet yaş dağılımına baktığımızda sosyal medyayı erkekler her yaş grubu için daha fazla kullandığı görülmektedir. Genel olarak sosyal medya kullanıcılarının 1/3’i 25-34 yaş grubundadır.
                    <br />     Mobil Kullanıcı İstatistikleri


                    <hr /><img style="width: 100% !important;" src="~/img/12.jpg" />
                    We-Are-Social-2019-Türkiye-Mobil-Kullanıcı-İstatistikleri 2019
                    <hr />


                    <br />     Mobil kullanıcı sayısı her yıl düzenli olarak artmaktadır. 2019 mobil kullanıcı istatistiklerine baktığımızda da mobil kullanıcı sayısının 76.3 milyon olduğunu görmekteyiz. Görüldüğü üzere bu oran Türkiye nüfusunun %93’üne denk geliyor.
                    <br />     Mobil Uygulama İstatistikleri

                    <hr /><img style="width: 100% !important;" src="~/img/13.jpg" />
                    We Are Social 2019 Türkiye Mobil Uygulama İstatistikleri
                    <hr />


                    <br />     2019 mobil uygulama istatistiklerine baktığımızda geçen yıl boyunca toplam 2.8 milyar  kez uygulama indirilmiş. Mobil uygulamalara harcanan para miktarı ise 360 milyar dolar. Gelecek mobilde!
                    <br />     E-Ticaret İstatistikleri

                    <hr /><img style="width: 100% !important;" src="~/img/14.jpg" />
                    We Are Social 2019 Türkiye E-Ticaret Harcamaları
                    <hr />




                    <br />     2019 Türkiye E-Ticaret istatistiklerine göre en çok harcama sırasıyla seyahat, elektronik ürünler, moda ve güzellik ürünleri ve oyuncak ve hobi ürünlerine yapılmış Bu harcamalar geçen yıl ile kıyaslandığında;


                    <hr /><img style="width: 100% !important;" src="~/img/15.jpg" />
                    2019-We-Are-Social-Türkiye-E-Ticaret-Harcamalarındaki-Yıllık-Artış
                    <hr />


                    <br />     En yüksek artış %9,7’lik oranla seyahat harcamalarında yaşanmış. Bu artışı sırasıyla oyun ve müzik harcamaları takip ediyor.

                    <hr /><img style="width: 100% !important;" src="~/img/16.jpg" />
                    We Are Social 2019 Türkiye E-Ticaret Tüketim Malları Satın Alım İstatistikleri
                    <hr />


                    <br />     2019 Türkiye E-Ticaret istatistiklerine göre tüketim mallarına yapılan harcamalar 5,955 milyar dolar olarak gerçekleşmiş.
                    <br />     Tüm bu istatistikleri hedef kitle belirleme, dijital ve sosyal medya pazarlama stratejileri, mecra seçimi ve diğer tüm faaliyetlerinizde kullanabilirsiniz
                    <br />     Evet, We are social ve Hootsuit tarafından hazırlanan 2019 sosyal medya istatistikleri bu şekilde. Türkiye’deki facebook kullanıcısı sayısı ve profili, keza Türkiye’deki Instagram, Twitter ve LinkedIn Kullanıcısı Sayıları gibi istatistikleri şık grafikler ışığında aşağıdaki raporda görebilir, okuyabilirsiniz. Ayrıca 2019 İnternet Kullanımı ve Sosyal Medya İstatistikleri yazımızda Dünya genelindeki dijital gelişmelere dair hususları ve raporun tamamını görebilir, inceleyebilirsiniz.




                </p>

            </div>

        </div>
    </div>
</section>

